<template name="accountSecurity">

	<div class="block" style="margin-top: 0">

		<form role="form" class="form-horizontal">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-sm-3">Existing Password</label>
						<div class="col-sm-9">
							<input id="oldPassword" type="password" class="form-control" placeholder="Your old password">
						</div>
					</div>


					<hr>


					<div class="form-group">
						<label class="col-sm-3">New Password</label>
						<div class="col-sm-9">
							<input id="newPassword" type="password"  class="form-control" placeholder="Your new password">
						</div>
					</div>			
				</div>
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary btn-beside">Change Password</button>
				</div>
			</div>
		</form>		

	</div>


</template>