# Ignore any local packages that are being developed
packages/

# Ignore disource key file 
/server/discourseSSOKey.js

# Ignore start script
start

# Ignore generated bundles
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip