# Ignore any local packages that are being developed
/packages/*

# Include these packages (as core)
!/packages/npm-container/
!/packages/maazalik:spoiler-alert/
!/packages/phanime:mal-import/

# Ignore private site settings api keys
/server/privateSiteSettings.js

# Ignore start script
/startScript

# Ignore generated bundles
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip