.block.comment-list {
  padding: 10px 20px;
  margin-top: -25px;
  background-color: lighten($lightGrey, 30%);
}

  .block.comment-list:empty {
    padding: 0;
  }

.comment-list .create-comment {
  padding: 10px 0;
  background-color: lighten($lightGrey, 30%);
}
.create-comment .textarea-container {
  margin-left: 50px;
}

.comment-list .expand-comments-list {
  cursor: pointer;
}

.comment-list .comment-card {
  margin: 0 -20px;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
}

.comment-list .comment-card .content {
  margin-left: 50px;
  word-wrap: break-word;
}

.comment-list .comment-card .content img {
  max-height: 200px;
  max-width: 100%;
}

.comment-list .comment-card .username {
  font-weight: bold;
  font-size: 16px;
  padding-right: 3px;
}

.comment-list .comment-card .sub-list {
  margin-top: 8px;
}
.comment-list .comment-card .sub-list > span {
  margin-right: 8px;
}

.comment-list .comment-card .sub-list .remove-handle {
  cursor: pointer;
}
