#header {
  height: 54px;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid $medGrey;
  padding: 0 20px;
  z-index: 99;
  position: absolute;
  transform: translate(0,0);
  transition: all .3s;

  &.fixed {
    position: fixed;
  }
}
