$headerHeight = 54px;
$headerItemPadding = ($headerHeight - ($baseFontSize))/2

#header {
  height: $headerHeight;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid $lightGrey;
  padding: 0 20px;
  z-index: 99;
  position: absolute;
  transform: translate(0,0);
  transition: all .3s;

  &.fixed {
    position: fixed;
  }

  ul {
    &.right {

    }

    &.left {

    }

    &.inline > li {
      position: relative;
      display: block;
      float: left;
    }

    > li {
      > a {
        display: block;
        line-height: 1;
        font-size: $baseFontSize;
        padding-top: $headerItemPadding;
        padding-bottom: $headerItemPadding;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
