.landing-page {

  .landing-page-image-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: #000;

    +below(2) {
      background-color: transparent;
    }
  }

  .landing-page-image {
    position: fixed;
    z-index: 2;
    opacity: 0.5;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    transform: translate3d(0, 0, 0);

    +below(2) {
      background-image: none !important;
      background-color: darken($lightGreen, 40%);
      opacity: 1;
    }

  }

  .invite-block {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    max-width: 300px;
    margin: auto;
    max-height: 250px;
    color: #fff;

    .input-group span {
      display: block;
      width: 100%;
    }

    button {
      display: block;
      width: 100%;
    }

    h3 span {
      color: #83BD40;
    }

    a {
      color: #fff;
    }

  }

  .footer-block {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    z-index: 10;
    max-width: 650px;
    margin: auto;
    max-height: 250px;
    color: #fff;
  }
}
