.profile-post-card {

  .action-bar {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 15px;
  }

  .description {
    word-wrap: break-word;

    img  {
      max-width: 100%;
      max-height: 450px;
    }
  }
}

.create-profile-post {
  padding: 0 !important;
}
.create-profile-post textarea {
  position: relative;
  z-index: 1;
  resize: none;
  border: none;
  padding: 20px;
}

.create-profile-post textarea:focus {
  box-shadow: none !important;
}

.create-profile-post textarea:focus + .action-bar {
  margin-top: 0;
}

.create-profile-post .action-bar:hover {
  margin-top: 0;
}

.create-profile-post button:focus + .action-bar {
  margin-top: 0;
}

.create-profile-post:focus {
  box-shadow: 1px 1px 1px #000;
}

.create-profile-post .action-bar {
  background-color: #E6E6E6;
  padding: 5px;
  margin-top:-43px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.create-profile-post button {
  margin: 0;
  padding: 5px 20px;
}
