.user-profile-summary {
  &__important {
    padding: 40px 20px;
  }

  &__content {
    margin-left: 210px;
    position: absolute;
    top: 15%;
    max-width: 500px;

    &__username {
      display: inline-block;
    }

    &__btn {
      position: relative;
      top: -7px;
      margin-left: 10px;
    }
  }

  &__nav {
    background-color: #FFFFFF;

    ul > li > a {
      display: block;
      line-height: 32px;
      font-size: 16px;
      padding: 8px 10px;
    }
  }
}
