@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

@-webkit-keyframes resize-width {
	0%   { width: 0; }
	100% { width: 300px; }
}
@-moz-keyframes resize-width {
	0%   { width: 0; }
	100% { width: 300px; }
}
@-o-keyframes resize-width {
	0%   { width: 0; }
	100% { width: 300px; }
}
@keyframes resize-width {
	0%   { width: 0; }
	100% { width: 300px; }
}



@-webkit-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@-moz-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@-o-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}


@-webkit-keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}
@-moz-keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}
@-o-keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}
@keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}

/*-------------------------------*/
/*---------- General ------------*/
/*-------------------------------*/

html, body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: #eee;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

::-moz-selection { /* Code for Firefox */
	color: #fff;
	background: #575757;
}

::selection {
	color: #fff; 
	background: #575757;
}

textarea {
	resize: vertical;
}

.thin-text {
	font-weight: 300;
}

.centered-text {
	text-align: center;
}

.inline-text {
	display: inline-block;
}

.block {
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border-bottom-width: 2px;
	margin: 10px 0 20px 0;
	padding: 20px 20px;	
}

	.block h1:first-of-type, 
	.block h2:first-of-type,
	.block h3:first-of-type {
		margin-top: 0;
	}

.block.green {
	border-top: 5px solid #8bc34a;
}

	.row .block {
		margin: 10px 0 20px;
	}

	.block.scroll-ready {
		max-height: 300px;
	}

.content-dropdown-wrapper > a {
	position: relative;
}

	.content-dropdown-wrapper > a span {
		position: absolute;
		background-color: #83BD40;
		color: #fff;
		top: 3px;
		right: 0;
		padding: 4px 5px;
		line-height: 10px;
		font-size: 11px;
		border-radius: 50px;
	}

	.content-dropdown-wrapper > a span:empty {
		padding: 0;
	}

.content-dropdown {
	padding: 10px;
	min-width: 300px;
}

	.content-dropdown > li {
		padding: 5px 0;
		border-bottom: 1px solid #ECEBEB;
	}

/*--- General Card --*/

.block.card {
	width: 230px;
	margin: 10px auto !important;
}

	.block.card h4 {
		margin-bottom: 0;
	}

.box {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.05);
	box-shadow: 0 1px 3px rgba(0,0,0,.05);	
}

.box-teal {
	border-color: #ccc;
}
	.box-heading {
		padding: 10px 15px;
		border-bottom: 1px solid;
	}
	
	.box-teal > .box-heading {
		color: #fff;
		background-color: #009688;
	}

	.box-body {
		padding: 15px;
	}


.fancy-heading {
	position: relative;
	background-image: url('http://www.wallpaperhd.co/Anime-HD-Wallpapers-2/images/Anime%20HD%20Wallpaper%2022.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.66);
	height: 350px;
	width: 100%;
	color: #fff;
}


.fancy-heading .container {
	height: 100%;
	position: relative;
	z-index: 2;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
}

	.fancy-heading a {
		color: #fff;
		text-decoration: none;
	}

	.fancy-heading a:hover {
		color: #fff;
		text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		text-shadow: none;
	}

	.anime-cover {
		padding-bottom: 150%;
		background-position: center center;
		background-size: cover;
	}

	.episodeCover {
		height: 150px;
		padding-top: 20px;
		background-position: center center;
		-webkit-animation: resize-height-short 0.75s; /* Safari 4+ */
		-moz-animation: resize-height-short 0.75s; /* Fx 5+ */
		-o-animation: resize-height-short 0.75s; /* Opera 12+ */
		animation: resize-height-short 0.75s; /* IE 10+ */
	}

.banner-gradient {
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.main-content {
	padding-top: 30px;
	padding-bottom:20px;
}

.description {
	white-space: pre-line;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.footer {
	text-align: center;
	font-style: italic;
	background-color: #83BD40;
	color: #fff;
	padding: 20px;
}

	/*---------------------------------*/
	/*---------- IMG Sizes ------------*/
	/*---------------------------------*/

	.img {
		width: 100%; /* for now */
	}

	.img.img-sm {
		width: 50px;
	}

	.img.img-md {
		width: 100px;
	}

	.img.img-lg {
		width: 190px;
	}


	.img.avatar {
		background-size: cover;
		background-position: center center;
		border-radius: 5px;
		float: left;
		margin-right: 10px;
	}
		.avatar.img-sm {
			height: 50px;
		}

		.img-sm.avatar.bordered {
			border: 2px solid #fff;
			box-shadow: 0 0 3px rgba(0,0,0,0.5);
			border-radius:0;
		}

	.img.cover {
		background-size: cover;
		background-position: center center;
		border-radius: 5px;
		float: left;
		margin-right: 10px;		
	}
		.img.cover.no-float {
			float: none;
		}

		.img.cover.img-md {
			height: 150px;
		}

		.img.cover.img-lg {
			height: 285px;
		}

/*-----------------------------*/
/*------- General APP  --------*/
/*-----------------------------*/

.global-add-entry-handler {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	color: #fff;
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
	background-color: #8bc34a;
	margin: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	border: 3px solid #fff;
	cursor: pointer;
	line-height: 45px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

	.global-add-entry-handler:hover {
		box-shadow: 0px 0px 15px #8bc34a;
	}

.global-add-wrapper {
	position: fixed;
	bottom: 0;
	right: 25px;
	margin: 20px;
	width: 300px;
	height: 50px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 3px solid #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background-color: #F7F7F7;
	padding: 5px;
	-webkit-animation: resize-width 0.75s; /* Safari 4+ */
	-moz-animation: resize-width 0.75s; /* Fx 5+ */
	-o-animation: resize-width 0.75s; /* Opera 12+ */
	animation: resize-width 0.75s; /* IE 10+ */
}

	.global-add-wrapper .add-library-button {
		border-radius: 2px;
		border-color: none;
	}


/*-----------------------------*/
/*------- Landing Page --------*/
/*-----------------------------*/

.landing-page-wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
	background-color: #000;
}

.landing-page {
	position: fixed;
	z-index: 2;
	opacity: 0.5;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background: url('http://25.media.tumblr.com/6f70d7604b667b5b03700457ebe57df3/tumblr_mhi5buozb81qf8isso1_500.gif');
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(9px);
	-moz-filter: blur(9px);
	-o-filter: blur(9px);
	-ms-filter: blur(9px);
	filter: blur(9px);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);

}

.invite-block {
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	max-width: 650px;
	margin: auto;
	max-height: 250px;
	color: #fff;
}

	.invite-block .col-sm-5, .invite-block .col-sm-7 {
		padding: 0;
	}

	.invite-block .input-group {
		margin: 0 auto;
	}
		.invite-block .input-group span {
			display: block;
			width: 100%;
		}

	.invite-block button {
		display: block;
		width: 100%;
	}

	.invite-block input, .invite-block button, .invite-block button:hover {
		border-radius: 0;
		border-color: transparent;
		margin: 0 !important;
	}

	.invite-block .form-control:focus {
		border-color: rgba(139, 195, 74, 0.6);
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 195, 74, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 195, 74, 0.6);
	}

	.invite-block h1 {
		margin-bottom: 30px;
	}
	.invite-block h3 {
		margin-bottom: 30px;
	}
		.invite-block h3 span {
			color: #83BD40;
		}

	.invite-block a {
		color: #fff;
	}

	.invite-block .btn-fancy {
		background-color: #8bc34a;
		color: #fff;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;		
	}

		.invite-block .btn-fancy:hover {
			background-color: #558b2f;
			color: #fff;
		}

/*-----------------------------*/
/*---------- NAVBAR -----------*/
/*-----------------------------*/

.navbar-phan {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	border-bottom: none;
	background-color: #575757;
}

	.navbar-phan .navbar-nav > li > a {
		color: #CCCCCC;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;	
	}

	.navbar-phan .navbar-nav > li > a:hover,
	.navbar-phan .navbar-nav > li > a:focus {
		color: #ffffff;
	}

	.navbar-phan .navbar-brand {
		color: #ffffff;
	}

	.navbar-phan .navbar-brand:hover, 
	.navbar-phan .navbar-brand:focus {
		color: #ffffff;
	}


	/* --- Dropdown related ---*/
	.navbar-phan .navbar-nav > .open > a, 
	.navbar-phan .navbar-nav > .open > a:hover, 
	.navbar-phan .navbar-nav > .open > a:focus {
		color: #ffffff;
		background-color: #8bc34a;
		-webkit-transition: all 0.0s ease-in-out;
		-moz-transition: all 0.0s ease-in-out;
		-o-transition: all 0.0s ease-in-out;
		transition: all 0.0s ease-in-out;	
	}

	.navbar-phan .navbar-nav > li > .dropdown-menu {
		border: none;
	}

	@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: #CCCCCC;
		}
	
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #ffffff;
		}

		.navbar-phan .dropdown-header {
			color: #8D8D8D;
		}

		.navbar-phan .dropdown-menu .divider {
			background-color: #686868;
		}

		.navbar-phan .navbar-collapse {
			border: none;
			box-shadow: inset 0px 0px 10px;
		}

		.navbar-phan .navbar-toggle {
			border: none;
			color: #fff;
			text-shadow: 0 0 3px #000;
			padding: 0;
			font-size: 24px;
		}

		.navbar-phan .navbar-toggle:hover, 
		.navbar-phan .navbar-toggle:focus {
			background-color: transparent;
			
		}

	}

/*-----------------------------*/
/*---------- ANIME ------------*/
/*-----------------------------*/

.anime-card {
	position: relative;
	width: 190px;
	height: 285px;
	background-size: cover;
	background-position: center;
	margin: 10px auto;
	border: 5px solid #FFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	padding: 5px;
	color: #EEE;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

	.anime-card .important {
		opacity: 1;
		position: absolute;
		bottom: 0;
		z-index: 2;
		font-size: 15px;
		padding: 5px;
		text-shadow: 0 0 3px rgba(0,0,0,.8);
		text-align: left;
		-webkit-transition: all 0.33s ease-in-out;
		-moz-transition: all 0.33s ease-in-out;
		-o-transition: all 0.33s ease-in-out;
		transition: all 0.33s ease-in-out;	
	}

.fancy-heading .container .anime-important {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
}

.add-library-button {
	margin-top: 10px;
	border: none;
	color: #FFF;
	background-color: #8bc34a;
	border-radius: 2px !important;
}

	.add-library-button + ul > li > a {
		cursor: pointer;
	}

.genresList {
	margin-top: 10px;
}

	.genresList a {
		display: inline-block;
/*		border: 1px solid rgba(255,255,255,.5);
		color: #fff;*/

		border: 1px solid #8bc34a;
		color: #575757;
		text-decoration: none;
		border-radius: 2px;

		padding: 3px 5px;
		margin: 5px 3px;
/*		text-shadow: 0 0 3px rgba(0,0,0,0.8);*/
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;			
	}

	.genresList a:hover {
		background-color: #8bc34a;
		color: #fff;
/*		text-shadow: none;
		border: 1px solid #fff;
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.80);*/
	}


.themesList {
	margin-top: 10px;
}

	.themesList a {
		display: inline-block;
/*		border: 1px solid rgba(255,255,255,.5);
		color: #fff;*/

		border: 1px solid #8bc34a;
		color: #575757;
		text-decoration: none;

		padding: 3px 5px;
		margin: 5px 3px;
/*		text-shadow: 0 0 3px rgba(0,0,0,0.8);*/
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;			
	}

	.themesList a:hover {
		background-color: #8bc34a;
		color: #fff;
/*		text-shadow: none;
		border: 1px solid #fff;
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.80);*/
	}

.anime-info {
	margin: 10px 0;
	color: #7E7E7E;
	font-size: 15px;
	font-weight: 300;
	padding: 0;
}
	.anime-info li {
		display: inline-block;
		word-spacing: break-word;
	}

	.anime-info li + li:before{
		content: " | ";
		padding: 0 7px;
		color: #868686;
		font-size: 10px;
	}

.rating-bar {
	background-color: rgba(139, 195, 74, 0.46);
	border-right: 2px solid #8bc34a;
	height: 10px;
	margin-bottom: 2px;
}


/*-----------------------------*/
/*---------- VIDEO ------------*/
/*-----------------------------*/

.video-container {
	background-color: #000;
	padding: 20px 0;
}

.player-wrapper {
	position: relative;
	display: block;
	padding-bottom: 56.25%;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;	
}

.player-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


/*---------------------------------*/
/*---------- Character ------------*/
/*---------------------------------*/




/*-----------------------------*/
/*---------- USER  ------------*/
/*-----------------------------*/
.fancy-heading .container .user-important {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;	
}

	.user-important .user-avatar {
		position: absolute;
		bottom: -70px;
		border: 5px solid #fff;
		background-color: #fff;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
		background-size: cover;
		background-position: center center;
		height: 190px;
		width: 190px;
	}

	.user-important .username {
		padding-left: 210px;
	}

.follow-button {
	background-color: transparent;
	color: #fff;
}

	.follow-button:hover {
		box-shadow: 0 0 5px #fff;
		background-color: transparent;
		color: #fff;
	}


.profile-nav-container {
	background-color: #fff;
	padding: 5px 0;
}

	.profile-nav {
		margin-left: 200px !important;
	}

		.profile-nav .navbar-nav > li > a {
			padding-top: 10px;
			padding-bottom: 10px;
		}


.user-card {
	position: relative;
	background-size: cover;
	height: 100%;
	margin: -10px;
	padding: 10px;
	background-position: center top;
	color: #fff;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
	z-index: 0;	
}

.create-profilePost {
	padding: 0;
}
	.create-profilePost textarea {
		position: relative;
		z-index: 1;
		resize: none;
		border: none;
		padding: 20px;
	}

	.create-profilePost textarea:focus {
		box-shadow: none !important;
	}

	.create-profilePost textarea:focus + .action-bar {
		margin-top: 0;
	}

	.create-profilePost .action-bar:hover {
		margin-top: 0;
	}

	.create-profilePost button:focus + .action-bar {
		margin-top: 0;
	}

	.create-profilePost:focus {
		box-shadow: 1px 1px 1px #000;
	}

	.create-profilePost .action-bar {
		background-color: #E6E6E6;
		padding: 5px;
		margin-top:-43px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;	
	}

	.create-profilePost button {
		margin: 0;
		padding: 5px 20px;
	}


/*----------------------------------*/
/*--------- Post Comments ----------*/
/*----------------------------------*/

.block.comment-list {
	padding: 10px 20px;
	margin-top: -25px;
	background-color: #F5F5F5;
}

.comment-list .create-comment {
	padding: 10px 0; 
	background-color: #F5F5F5;
}
	.comment-list .create-comment .textarea-container {
		margin-left: 60px;
	}

.comment-list .expand-comments-list {
	cursor: pointer;
	color: #83BD40;
}

.comment-list .comment-card {
	margin: 0 -20px;
	padding: 10px 20px;
	border-bottom: 1px solid #DDD;
}
	
	.comment-list .comment-card .content {
		margin-left: 60px;
	}

	.comment-list .comment-card .username {
		font-weight: bold;
		font-size: 16px;
		padding-right: 3px;
	}

	.comment-list .comment-card .created-at {
		color: #838383;
		margin-top: 8px;
	}


/*-----------------------------*/
/*--------- LIBRARY  ----------*/
/*-----------------------------*/

.anime-card.library-entry:hover .banner-gradient,
.anime-card.library-entry:hover .important {
	opacity: 1;
}

.anime-card .banner-gradient {
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

.anime-card.library-entry .progress {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #8bc34a;
	min-width: 5px;
	width: 5px;
	border-radius: 0;
	opacity: 0.7;
	height: 5px;
}


	.anime-card.library-entry:hover .libraryEntryForm {
		opacity: 1;
	}

	.libraryEntryForm {
		position: absolute;
		opacity: 0;
		width: 190px;
		background-color: #FFF;
		left: -5px;
		z-index: 3;
		padding: 5px;
		top: -5px;
		height: 285px;
		color: #696969;
		/*box-shadow: 0 0 15px rgba(0,0,0,0.5);*/
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.libraryEntryForm .change-entry-status-btn {
		width: 100%;
	}

		.libraryEntryForm .entry-episodesSeen {
			width: 70px !important;
		}

		.libraryEntryForm .entry-episodes {
			display: inline;
			font-size: 16px;
		}
			.libraryEntryForm .entry-episodes span {
				font-size: 18px;
			}

		.libraryEntryForm .icon-group {
			margin: 10px auto;
			color: #888;
		}

		.libraryEntryForm .icon-group i {
			font-size: 25px;
			padding: 5px 10px;
			cursor: pointer;
		}

		.libraryEntryForm textarea {
			height: 55px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			vertical-align: top;
		}

		.libraryEntryForm .comments {
			max-height: 80px;
			overflow-y: auto;
		}


/*-- Tabular version ---*/
.library-entry-row {
	cursor: pointer;
}

/*-----------------------------------*/
/*----- Bootstrap Theme changes -----*/
/*-----------------------------------*/

.navbar-default .navbar-nav > li > a.active {
	color: #555;
	background-color: #e7e7e7;
}

.btn-beside {
	float: right;
	margin: 0 5px;
}

.btn-full-width {
	width: 100%;
}

/*--- Button ---*/
.btn {
	border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;		
}
	.btn-primary {
		background-color: #8bc34a;
		color: #fff;	
		border-color: #7cb342;
	}

		.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
			background-color: #689f38;
			border-color: #558b2f;
		}

/*--- Inputs ---*/

input.form-control, select.form-control, textarea.form-control {
	border-radius: 2px;
}

	input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
		border-color: rgba(139, 195, 74, 0.6);
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 195, 74, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 195, 74, 0.6);
	}

input.form-control.input-inline {
	width: auto;
	display: inline;
} 


table > thead {
	border-bottom: 2px solid #ccc;
}


@media (min-width: 1400px) {
	.container {
		width: 1360px;
	}
}

