/*-------------------------------*/
/*---------- General ------------*/
/*-------------------------------*/


.block {
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border-bottom-width: 2px;
	margin: 10px 0 20px 0;
	padding: 20px 20px;
}
	.block .title {
		margin-top: -20px;
		margin-left: -20px;
		margin-right: -20px;
		padding: 10px 20px;
		background-color: #F4F4F4;
		margin-bottom: 20px;
	}

	.block h1:first-of-type,
	.block h2:first-of-type,
	.block h3:first-of-type {
		margin-top: 0;
	}

.block.green {
	border-top: 5px solid #8bc34a;
}

	.row .block {
		margin: 10px 0 20px;
	}

	.block.scroll-ready {
		max-height: 300px;
	}

/************* Counter styling in nav-bar *************/

ul.nav > li> a {
	position: relative;
}

	ul.nav > li > a span.counter {
		position: absolute;
		background-color: #83BD40;
		color: #fff;
		top: 3px;
		right: 0;
		padding: 4px 5px;
		line-height: 10px;
		font-size: 11px;
		border-radius: 50px;
	}

		ul.nav > li > a span.counter:empty {
			padding: 0;
		}


.content-dropdown {
	padding: 10px;
	min-width: 300px;
}

	.content-dropdown > li {
		padding: 5px 0;
		border-bottom: 1px solid #ECEBEB;
	}

/*--- General Card --*/

.block.card {
	width: 230px;
	margin: 10px auto !important;
}

	.block.card h4 {
		margin-bottom: 0;
	}

.box {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.05);
	box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.box-teal {
	border-color: #ccc;
}
	.box-heading {
		padding: 10px 15px;
		border-bottom: 1px solid;
	}

	.box-teal > .box-heading {
		color: #fff;
		background-color: #009688;
	}

	.box-body {
		padding: 15px;
	}


	.anime-cover {
		padding-bottom: 150%;
		background-position: center center;
		background-size: cover;
	}

	.episodeCover {
		height: 150px;
		padding-top: 20px;
		background-position: center center;
		-webkit-animation: resize-height-short 0.75s; /* Safari 4+ */
		-moz-animation: resize-height-short 0.75s; /* Fx 5+ */
		-o-animation: resize-height-short 0.75s; /* Opera 12+ */
		animation: resize-height-short 0.75s; /* IE 10+ */
	}

.main-content {
	padding-top: 30px;
	padding-bottom:20px;
}

.description {
	white-space: pre-line;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.global-notice {
	padding: 15px;
	font-size: 25px;
	background-color: #9D9D9D;
	color: #fff;
	text-align: center;
	box-shadow: inset 0px 0px 10px #A7A7A7;
}

	.global-notice a {
		color: #BCFD71;
	}

.footer {
	background-color: #575757;
	color: #fff;
	padding: 20px;
}

	.footer a {
		color: #fff;
	}


.btn.btn-transparent {
	background-color: transparent;
	border-color: #949494;
	color: #949494;
}

	.btn.btn-transparent.white {
		border-color: #fff;
		color: #fff;
	}

	.btn.btn-transparent:hover,
	.btn.btn-transparent.white:hover {
		background-color: transparent;
		border-color: #8bc34a;
		color: #8bc34a;
	}

	.btn.btn-transparent:focus,
	.btn.btn-transparent.white:focus {
		background-color: transparent;
		border-color: #8bc34a;
		color: #8bc34a;
	}

/*-----------------------------*/
/*------- General APP  --------*/
/*-----------------------------*/

.global-add-entry-handler {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	color: #fff;
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
	background-color: #8bc34a;
	margin: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	border: 3px solid #fff;
	cursor: pointer;
	line-height: 45px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

	.global-add-entry-handler:hover {
		box-shadow: 0px 0px 15px #8bc34a;
	}

.global-add-wrapper {
	position: fixed;
	bottom: 0;
	right: 25px;
	margin: 20px;
	width: 300px;
	height: 50px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 3px solid #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background-color: #F7F7F7;
	padding: 5px;
	-webkit-animation: resize-width 0.75s; /* Safari 4+ */
	-moz-animation: resize-width 0.75s; /* Fx 5+ */
	-o-animation: resize-width 0.75s; /* Opera 12+ */
	animation: resize-width 0.75s; /* IE 10+ */
}

	.global-add-wrapper .add-library-button {
		border-radius: 2px;
		border-color: none;
	}


a.user-mention {
	padding: 1px 4px;
	color: #222;
	background: #e9e9e9;
	text-decoration: none;
}





/*-----------------------------*/
/*---------- USER  ------------*/
/*-----------------------------*/
.fancy-heading .container .user-important {
	padding: 40px 20px;
}

	.user-important .user-avatar {
		display: inline-block;
		border: 5px solid #fff;
		background-color: #fff;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
		background-size: cover;
		background-position: center center;
		height: 190px;
		width: 190px;
		border-radius: 300px;
	}

	.user-important .user-summary {
		margin-left: 210px;
		position: absolute;
		top: 15%;
		max-width: 500px;
	}

		.user-important .user-summary #editProfile,
		.user-important .user-summary #saveProfile {
			position: relative;
			top: -7px;
			margin-left: 10px;
			color: #fff;
			border-color: #fff;
		}

	.user-important .username {
		display: inline-block;
	}

.follow-button {
	background-color: transparent;
	color: #fff;
	position: relative;
	top: -7px;
	margin-left: 10px;
}

	.follow-button:hover {
		box-shadow: 0 0 5px #fff;
		background-color: transparent;
		color: #fff;
	}


.profile-nav-container {
	background-color: #fff;
	padding: 5px 0;
}

	.profile-nav .navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

ul.profile-summary-list {
	margin: 0;
	list-style: none;
	padding:0;

}
	ul.profile-summary-list > li {
		padding: 5px 0;
	}

/*-----------------------------*/
/*--------- LIBRARY  ----------*/
/*-----------------------------*/




/*-- Tabular version ---*/
.library-entry-row {
	cursor: pointer;
}

/*-----------------------------------*/
/*----- Bootstrap Theme changes -----*/
/*-----------------------------------*/

.navbar-default .navbar-nav > li > a.active {
	color: #555;
	background-color: #e7e7e7;
}

.btn-beside {
	float: right;
	margin: 0 5px;
}

.btn-full-width {
	width: 100%;
}

input.form-control.input-inline {
	width: auto;
	display: inline;
}


table > thead {
	border-bottom: 2px solid #ccc;
}


@media (min-width: 1400px) {
	.container {
		width: 1360px;
	}
}
