.review-wrapper {
	color: #757575;
}

.review-wrapper a {
	color: #888;
}

.review-wrapper > h1 {
	margin-bottom: 30px;
}

.review-wrapper .summary-wrapper {
	/*box-shadow: 1px 5px 2px rgba(0,0,0,0.5);*/
}

.review-wrapper .summary {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 10px;
}

.review-wrapper .content {
	font-size: 14px;
}

.review-wrapper .ratings {
	text-align: center;
	margin: 20px 0;
	background-color: #EEE;
	margin: -20px;
	margin-top: 20px;
}


	.review-wrapper .ratings > .item-block {
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 15px;		
	}

	.review-wrapper .ratings > .item-block:last-child {
		color: #8bc34a;
	}

	.review-wrapper .ratings > .item-block > .rating-value {
		font-size: 20px;	
	}

	.review-wrapper .ratings > .item-block > hr {
		width: 70%;
	}