@-webkit-keyframes fade-in-top {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}
@-moz-keyframes fade-in-top {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}
@-o-keyframes fade-in-top {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}
@keyframes fade-in-top {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

.search-wrapper {
	position: fixed;
	top: 0;
	z-index: 100000;
	background-color: rgba(233, 233, 233, 0.95);
	width: 100%;
	height: 100%;
	-webkit-animation: fade-in-top 0.50s; /* Safari 4+ */
	-moz-animation: fade-in-top 0.50s; /* Fx 5+ */
	-o-animation: fade-in-top 0.50s; /* Opera 12+ */
	animation: fade-in-top 0.50s; /* IE 10+ */
}

.search-wrapper .close-search {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 50px;
	color: #878787;
	cursor: pointer;
}

.search-wrapper .search-input {
	margin-top: 50px;
}

.search-wrapper .search-results {
	max-height: 615px;
	overflow-y: auto;
}