// Main colours
$lightGreen:     #8BC34A;

$lightGrey:      #E0E0E0;
$medGrey:        #9E9E9E;
$darkGrey:       #424242;

// Font
$baseFontFamily:      'Roboto', sans-serif;
$baseLineHeight:      1.4;
$baseFontSize:        14px;
        
