global-reset();

*,
*:before,
*:after {
  box-sizing: border-box;
}


::-moz-selection { /* Code for Firefox */
  color: #FFFFFF;
  background-color: $medGrey;
}

::selection {
  color: #FFFFFF;
  background-color: $medGrey;
}


html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font: $baseFontSize $baseFontFamily;
  background-color: $bodyBackgroundColor;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $bodyFontColor;
}

a {
  color: $linkColor;
  cursor: pointer;
  text-decoration: none;
  word-wrap: break-word;
  transition: color 0.15s linear;

  &:hover {
    color: lighten($linkColor, 35%);
  }
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 10px;
}

.container {
  center(1360px, 15px);
  +below(1360px) {
    width: 100%;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.clearfix,
section,
.container,
.container-fluid
{
  clearfix();
}

section {
  margin: 10px 0;
}

#velocity-status-widget {
  z-index: 0 !important;
}
