input, textarea {
  display: block;
  width: 100%;
  padding: 10px 13px;
  font-size: $baseFontSize + 2px;
  line-height: $baseLineHeight;
  margin: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;

}

.input-group-horizontal {
  > input {

  }
}
