input, textarea {
  display: block;
  width: 100%;
  padding: 10px 13px;
  font-size: $baseFontSize + 2px;
  line-height: $baseLineHeight;
  margin: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;

}

.input-group-vertical {
  margin-bottom: 20px;
  > input {
    border-radius: 0;
    border-bottom: 1px solid $lightGrey;
  }

  > input:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  > input:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
