//@import-only

// Main colours
$lightGreen = #8BC34A;

$lightGrey  = #EEEEEE;
$medGrey    = #9E9E9E;
$darkGrey   = #424242;

$bodyBackgroundColor = $lightGrey;

// Font
$baseFontFamily    = 'Roboto', sans-serif;
$baseLineHeight    =  1.4;
$baseFontSize      =  14px;
