<template name="libraryEntryCard">
	<div class="col-sm-4 col-md-3 col-lg-2">
	
		<div class="anime-card library-entry img-lg animated fadeIn" style="background-image: url('{{anime.coverImageUrl}}')">
			
			<div class="important">
				{{anime.title}}
			</div>

			<div class="banner-gradient"></div>
			
			<div class="progress" style="width: {{getPercentage episodesSeen anime.totalEpisodes}}"></div>

			{{#if isUserIdCurrentUser userId}}
				{{> libraryEntryCardEdit}}
			{{else}}
				<div class="libraryEntryForm">						

					<div class="form-group">
						<button class="btn btn-default change-entry-status-btn" type="button">
							{{status}}
						</button>
					</div>							

					<div class="form-group">
						<div class="entry-rating" id="rating_{{_id}}" data-rateit-readonly="true" data-rateit-value="{{rating}}"></div>
					</div>

					<div class="form-group">
						<div class="entry-episodes"> <span>{{hyphenNotExist episodesSeen}}</span> / {{anime.totalEpisodes}}</div>
					</div>

					<div class="icon-group">
						<i data-toggle="tooltip" data-placement="left" title="{{rewatchingToolText rewatching}}" class="fa entry entry-rewatching {{entryRewatchingClass rewatching}}"></i>
						<i data-toggle="tooltip" data-placement="top" title="{{highPriorityToolText highPriority}}" class="fa entry entry-highPriority {{entryHighPriorityClass highPriority}}"></i>
						<i data-toggle="tooltip" data-placement="right" title="{{privacyToolText privacy}}" class="fa entry entry-privacy {{entryPrivacyClass privacy}}"></i>
					</div>

					<div class="comments">
						{{comments}}
					</div>

					<div class="thin-text centered" style="margin-top: 3px">
						{{#with anime}}<a href="{{pathFor 'anime'}}">Go to Anime <i class="fa fa-arrow-circle-right"></i></a>{{/with}}
					</div>

				</div>
			{{/if}}

		</div>
	</div>
</template>