<template name="animeReview">

	<div class="container main-content review-wrapper">


		<h1 class="centered-text thin-text">
			{{#with anime}}<a href="{{pathFor 'anime'}}">{{title}}</a>{{/with}} Review by 
			{{#with user}}<a href="{{pathFor 'user'}}">{{displayName}}</a>{{/with}}
		</h1>

		<div class="block">

			<div class="summary-wrapper">

				<div class="summary centered-text">
					{{summary}}
				</div>

				<hr style="width: 30%">

			</div>

			<div class="content description">
				{{content}}
			</div>

			<div class="ratings row">

				<div class="item-block col-xs-6 col-sm-4 col-lg-2">
					<span class="rating-value">{{animationRating}}</span>
					<hr class="background-hr">
					<span class="text">Animation</span>
				</div>

				<div class="item-block col-xs-6 col-sm-4 col-lg-2">
					<span class="rating-value">{{characterRating}}</span>
					<hr class="background-hr">
					<span class="text">Character Development</span>
				</div>

				<div class="item-block col-xs-6 col-sm-4 col-lg-2">
					<span class="rating-value">{{storyRating}}</span>
					<hr class="background-hr">
					<span class="text">Story</span>
				</div>

				<div class="item-block col-xs-6 col-sm-4 col-lg-2">
					<span class="rating-value">{{soundRating}}</span>
					<hr class="background-hr">
					<span class="text">Sound</span>
				</div>

				<div class="item-block col-xs-6 col-sm-4 col-lg-2">
					<span class="rating-value">{{enjoymentRating}}</span>
					<hr class="background-hr">
					<span class="text">Enjoyment</span>
				</div>

				<div class="item-block col-xs-6 col-sm-4 col-lg-2">
					<span class="rating-value">{{overallRating}}</span>
					<hr class="background-hr">
					<span class="text">Overall</span>
				</div>
			</div>

		</div>


	</div>

</template>