@import "client/styles/variables.import"

$headerHeight = 60px;
$headerLineHeight = 32px;
$headerFontSize = $baseFontSize + 4px;
$headerItemPadding = ($headerHeight - $headerLineHeight)/2;
$logoWidth = 239px;

.main-header {
  height: $headerHeight;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid $lightGrey;
  padding: 0 20px;
  z-index: 99;
  position: absolute;
  transform: translate(0,0);
  transition: all .3s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);

  &__logo {
      position: absolute;
      padding: 5px 0;
      left: 50%;
      margin-left: -($logoWidth/2);
  }

  &--fixed {
    position: fixed;
  }

  &__nav {
    clearfix()

    &--right {
      float: right;
    }

    &--left {
      float: left;
    }


    &__item {
      position: relative;
      display: block;
      float: left;

      &__inner {
        display: block;
        line-height: $headerHeight;
        font-size: $headerFontSize;
        padding-right: 15px;
        padding-left: 15px;
        cursor: pointer;
      }

      &__inner--icon {
        font-size: $headerFontSize + 10px;
      }
    }
  }
}
