<template name="user">
	<div class="container main-content">

		<section>
			<article class="half-width">

				{{#if topGenresChartObject}}
					<div class="block">
						{{> highchartsHelper chartId="test" width="100%" height="100%" chartObject=topGenresChartObject}}
					</div>
				{{/if}}

			</article>

			<article class="half-width">

				{{#if currentUser}}
					{{> createProfilePost}}
				{{/if}}

				{{#each profilePosts}}
					{{> profilePostCard profilePost=this class="animated zoomIn"}}
				{{else}}
					<h3 class="thin-text">There are no messages on {{username}}'s profile yet.</h3>
				{{/each}}

				{{#unless isReady}}
					{{> rectangleLoader}}
				{{/unless}}

				{{#if isReady}}
					{{#if hasMoreProfilePosts}}
						<button id="loadMore" type="button" class="btn btn-transparent btn-lg btn-full-width"><h4>Load More</h4></button>
					{{/if}}
				{{/if}}

			</article>
		</section>


	</div>

</template>
