@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

@-webkit-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@-moz-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@-o-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}


@-webkit-keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}
@-moz-keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}
@-o-keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}
@keyframes resize-height-short {
	0%   { height: 0; }
	75%  { height: 200px;}
	100% { height: 150px; }
}


html, body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

textarea {
	resize: vertical;
}

.thin-text {
	font-weight: 300;
}

.box {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.05);
	box-shadow: 0 1px 3px rgba(0,0,0,.05);	
}

.box-teal {
	border-color: #ccc;
}
	.box-heading {
		padding: 10px 15px;
		border-bottom: 1px solid;
	}
	
	.box-teal > .box-heading {
		color: #fff;
		background-color: #009688;
	}

	.box-body {
		padding: 15px;
	}


.fancy-heading {
	position: relative;
	background-image: url('http://www.wallpaperhd.co/Anime-HD-Wallpapers-2/images/Anime%20HD%20Wallpaper%2022.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.66);
	height: 350px;
	width: 100%;
	color: #fff;
	-webkit-animation: resize-height 0.75s; /* Safari 4+ */
	-moz-animation: resize-height 0.75s; /* Fx 5+ */
	-o-animation: resize-height 0.75s; /* Opera 12+ */
	animation: resize-height 0.75s; /* IE 10+ */
}


.fancy-heading .container {
	height: 100%;
	position: relative;
	z-index: 2;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
}

	.fancy-heading a {
		color: #fff;
		text-decoration: none;
	}

	.fancy-heading a:hover {
		color: #fff;
		text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		text-shadow: none;
	}

	.animeCover {
		height: 350px;
		padding-top: 100px;
	}

	.episodeCover {
		height: 150px;
		padding-top: 20px;
		background-position: center center;
		-webkit-animation: resize-height-short 0.75s; /* Safari 4+ */
		-moz-animation: resize-height-short 0.75s; /* Fx 5+ */
		-o-animation: resize-height-short 0.75s; /* Opera 12+ */
		animation: resize-height-short 0.75s; /* IE 10+ */
	}

.banner-gradient {
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.main-content {
	padding-top: 30px;
}

/*-----------------------------*/
/*------- Landing Page --------*/
/*-----------------------------*/

.landing-page-wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
	background-color: #000;
}

.landing-page {
	position: fixed;
	z-index: 2;
	opacity: 0.5;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background: url('http://25.media.tumblr.com/6f70d7604b667b5b03700457ebe57df3/tumblr_mhi5buozb81qf8isso1_500.gif');
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(9px);
	-moz-filter: blur(9px);
	-o-filter: blur(9px);
	-ms-filter: blur(9px);
	filter: blur(9px);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}

.invite-block {
	text-align: center;
	position: relative;
	z-index: 10;
	max-width: 350px;
	margin: 0 auto;
	padding-top: 250px;
	color: #fff;
}
	.invite-block a {
		color: #fff;
	}

	.invite-block .btn-fancy {
		background-color: #8bc34a;
		color: #fff;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;		
	}

		.invite-block .btn-fancy:hover {
			background-color: #558b2f;
			color: #fff;
		}

/*-----------------------------*/
/*---------- NAVBAR -----------*/
/*-----------------------------*/

.navbar-phan {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	border-bottom: 4px solid #e7e7e7;
}

/*-----------------------------*/
/*---------- ANIME ------------*/
/*-----------------------------*/

.fancy-heading .container .anime-important {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
}

.genreList {
	margin: 10px 0;
}

	.genreList a {
		display: inline-block;
		border: 1px solid rgba(255,255,255,.5);
		color: #fff;
		padding: 3px 5px;
		margin: 5px 3px;
		text-shadow: 0 0 3px rgba(0,0,0,0.8);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;			
	}

	.genreList a:hover {
		text-shadow: none;
		border: 1px solid #fff;
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.80);
	}

.anime-info {
	margin: 10px 0;
	color: #7E7E7E;
	font-size: 16px;
}


/*-----------------------------*/
/*---------- VIDEO ------------*/
/*-----------------------------*/

.video-container {
	background-color: #000;
	padding: 20px 0;
}

.player-wrapper {
	position: relative;
	display: block;
	padding-bottom: 56.25%;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;	
}

.player-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/*--- TEMP Ember-Notify styling ----*/

.ember-notify {
	background-color: #F5F5F5;
	padding: 20px 10px;
}
	.ember-notify.success {
		background-color: #D3FFCD;
	}

	.ember-notify.warning {
		background-color: #FFCDCD;
	}

/*--- BOOTSTRAP FIXES ---*/
.navbar-default .navbar-nav > li > a.active {
	color: #555;
	background-color: #e7e7e7;
}

.btn-beside {
	float: right;
	margin: 0 5px;
}