@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

@-webkit-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@-moz-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@-o-keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}
@keyframes resize-height {
	0%   { height: 0; }
	75%  { height: 400px;}
	100% { height: 350px; }
}


html, body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

textarea {
	resize: vertical;
}

.thin-text {
	font-weight: 300;
}

.fancy-heading {
	position: relative;
	background-image: url('http://www.wallpaperhd.co/Anime-HD-Wallpapers-2/images/Anime%20HD%20Wallpaper%2022.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.66);
	height: 0px;
	width: 100%;
	color: #fff;
	text-align: center;
	padding-top: 100px;
	-webkit-animation: resize-height 0.75s; /* Safari 4+ */
	-moz-animation: resize-height 0.75s; /* Fx 5+ */
	-o-animation: resize-height 0.75s; /* Opera 12+ */
	animation: resize-height 0.75s; /* IE 10+ */
}

.fancy-heading .container {
	position: relative;
	z-index: 2;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
}

.banner-gradient {
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.main-content {
	padding-top: 30px;
}

/*-----------------------------*/
/*---------- NAVBAR -----------*/
/*-----------------------------*/

.navbar-phan {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	border-bottom: 4px solid #e7e7e7;
}

/*-----------------------------*/
/*---------- ANIME ------------*/
/*-----------------------------*/

.anime-info {
	margin: 10px 0;
	color: #7E7E7E;
	font-size: 16px;
}


/*-----------------------------*/
/*---------- VIDEO ------------*/
/*-----------------------------*/

.video-container {
	background-color: #000;
	padding: 20px 0;
}

.player-wrapper {
	position: relative;
	display: block;
	padding-bottom: 56.25%;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;	
}

.player-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


/*--- BOOTSTRAP FIXES ---*/
.navbar-default .navbar-nav > li > a.active {
	color: #555;
	background-color: #e7e7e7;
}