<div class="well">
	<form role="form" class="form-horizontal">
		<div class="row">
			{{file-upload url="/api/v1/upload/users" action="filesUploaded"}}
			<div class="col-sm-12">
				<button type="button" {{action 'changePassword'}} class="btn btn-primary btn-beside">Change Password</button>
			</div>
		</div>
	</form>
</div>