<div class="well">
	<form role="form" class="form-horizontal">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="col-sm-3">Existing Password</label>
					<div class="col-sm-9">
						{{input type="password" value=existingPassword class="form-control" placeholder="Your old password"}}
					</div>
				</div>


				<hr>


				<div class="form-group">
					<label class="col-sm-3">New Password</label>
					<div class="col-sm-9">
						{{input type="password" value=newPassword class="form-control" placeholder="Your new password"}}
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3">Confirm New Password</label>
					<div class="col-sm-9">
						{{input type="password" value=confirmPassword class="form-control" placeholder="Confirm your new password"}}
					</div>
				</div>				
			</div>
			<div class="col-sm-12">
				<button type="button" {{action 'changePassword'}} class="btn btn-primary btn-beside">Change Password</button>
			</div>
		</div>
	</form>
</div>