<div class="well">
	<form role="form">
		<div class="form-group">
			<label>Avatar</label>
			<div class="row">
				<div class="col-sm-6">
					{{file-upload url="/api/v1/upload/users" extraParams=extraParams action="filesUploaded"}}
				</div>

				<div class="col-sm-6">
					<img class="img img-lg" {{bind-attr src=session.currentUser.avatarUrl}}>
				</div>
			</div>
		</div>
	</form>
</div>