<div class="list-group">
	{{#link-to 'account.personalDetails' class="list-group-item"}}Personal Details{{/link-to}}
	{{#link-to 'account.security' class="list-group-item"}}Security{{/link-to}}
	{{#link-to 'account.preferences' class="list-group-item"}}Preferences{{/link-to}}
</div>