<div class="fancy-heading" style="background-image: url('{{unbound season_image}}'); height: 350px; padding-top: 100px">
	<div class="container" style="text-align: center">
		<h1>Featured Anime</h1>
		<h3>{{current_season}} {{current_year}}</h3>
	</div>
	<div class="banner-gradient"></div>
</div>


<div class="container">
	{{#each}}
		<div>{{#link-to 'anime' this}}{{title}}{{/link-to}}</div>
	{{/each}}
</div>

