<div class="container main-content">

	{{#each model}}
		<div class="row">
			<div class="col-sm-2">
				<img style="width: 100%" {{bind-attr src=cover_image_url}} {{bind-attr title=title}} class="cover-image anime">
			</div>

			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
						<h3 style="margin:0">{{#link-to 'anime' this}}{{title}}{{/link-to}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{description}}
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				Add
			</div>
		</div>
	{{/each}}
</div>
