<div class="fancy-heading">
	<div class="container">
		<div class="user-important">
			<div class="user-avatar" style="background-image: url('{{unbound avatarUrl}}')"></div>
			
			<h1 class="username">{{username}}</h1>
		</div>
	</div>
	<div class="banner-gradient"></div>
</div>

{{outlet}}
