<div class="fancy-heading" style="background-image: url('{{unbound profileBannerUrl}}')">
	<div class="container">
		<div class="user-important">
			{{#link-to 'account.personalDetails'}}<div class="user-avatar" style="background-image: url('{{unbound avatarUrl}}')"></div>{{/link-to}}
			
			<h1 class="username">{{username}}</h1>
		</div>
	</div>
	<div class="banner-gradient"></div>
</div>

<div class="container main-content">
	{{outlet}}
</div>