<template name="animeCardCustomList">

	{{#with entry.content}}
		<li class="anime-card-custom-list-item" data-contentId="{{_id}}">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a href="{{pathFor 'anime'}}">
						<div style="background-image: url('{{coverImageUrl}}')" class="anime-cover"></div>
					</a>
				</div>

				<div class="col-sm-8 col-md-9 col-lg-10">
					<h3 class="content-title">{{incrementByOne ../entry.sortOrder}}. {{canonicalTitle}}</h3>
					<ul class="anime-info">
						{{#if type}}<li>{{type}}</li>{{/if}}
						{{#if totalEpisodes}}<li>{{totalEpisodes}} episodes</li>{{/if}}
						{{#if episodeDuration}}<li>{{episodeDuration}} mins.</li>{{/if}}
						{{#if ageRating}}<li>{{ageRating}}</li>{{/if}}
						<li>{{airingText}} {{formatDateUTC startDate}} to {{#if isMomentDatePresent endDate}} {{formatDateUTC endDate}}{{else}} - {{/if}}</li>
					</ul>
					
					{{#if ../isEditMode}}
						<textarea class="entry-comment form-control" value="{{../entry.comment}}" placeholder="Add a comment... (optional)"></textarea>
					{{else}}
						<div class="description thin-text">{{description}}</div>
						{{#if ../entry.comment}}
							<hr>
							<blockquote>
  								<p>{{../entry.comment}}</p>
  								<footer><cite title="Source Title">{{../customList.user.displayName}}</cite></footer>
  							</blockquote>
						{{/if}}
					{{/if}}
				</div>
			</div>
			{{#if ../isEditMode}}
				<div class="remove-handle"><i class="fa fa-times"></i></div>
				<div class="sort-handle"><i class="fa fa-arrows"></i></div>
			{{/if}}
		</li>
	{{/with}}
</template>