.profile-post-card {
	
	&--multi-col {
		width: 420px;
	}
	
	&__block {
		padding: 0 !important; // Temporary, until we get proper way of loading styl files
	}
	
	&__top-bar {
		padding: 20px;
	}

	&__action-bar {
		padding: 10px 20px;
		font-size: 15px;
	}
	
	&__featured {
		padding-top: 5px;
		padding-bottom: 10px;
		width: 100%;
		img {
			width: 100%;
		}
	}

	&__text {
		word-wrap: break-word;
		padding: 0 20px;

		img  {
			max-width: 100%;
			max-height: 450px;
		}
	}
}