<div {{bind-attr class=":fancy-heading coverClass"}}>
	<div class="container">
		<h1>{{#link-to 'anime' this}} {{coverTitle}} {{/link-to}}</h1>
		<h3>{{coversubTitle}}</h3>
	</div>
	<div class="banner-gradient"></div>
</div>

{{outlet}}
