<div class="container" style="max-width: 500px; margin-top: 200px;">
	<form {{action authenticate on='submit'}} class="form-horizontal" role="form">
		<div class="form-group">
			<label for="identification" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				{{input id='identification' class="form-control" placeholder='Enter Username' value=identification}}
			</div>
		</div>

		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				{{input id='password' class="form-control" placeholder='Enter Password' type='password' value=password}}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Sign in</button>
			</div>
		</div>
	</form>

</div>
