<div class="row">
	<div class="col-sm-3">
		<img class="img" {{bind-attr src=cover_photo_url}}>
	</div>

	<div class="col-sm-9">
		<h2 style="margin-top: 0" class="thin-text">{{full_name}}</h2>
		<div class="description thin-text">{{other_info}}</div>
	</div>
</div>