<template name="customListEdit">

	<div class="container main-content">
		<div class="block">
			{{#if isUserIdCurrentUser userId}}
				<div class="row">
					<div class="col-sm-12">
						<h3>{{title}}</h3>
						<h5 class="sub-text">{{description}}</h5>

						<hr>

						<div class="row">
							<div class="col-sm-9">
								<ul class="no-list-style" id="entries">
									{{#each entriesWithContent}}
										{{#if ../isTypeAnime}}
											{{> animeCardCustomList isEditMode="true" entry=this customList=..}}
										{{/if}}
									{{else}}
										<h3 style="margin-top: 30px" class="centered-text sub-text">There are no {{../type}} in this list, search below and click on one to add it.</h3>
									{{/each}}
								</ul>
							</div>

							<div class="col-sm-3">
								{{> Template.dynamic template="userCard" data=user}}
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-8">
								<div class="form-group">
									<input type="text" class="form-control" id="search" placeholder="Search for {{type}} and press enter">
								</div>
							</div>
							<div class="col-sm-6 col-md-4">
								<div class="form-group">
									<button type="button" id="saveBtn" class="btn btn-transparent btn-default btn-md btn-full-width">Save & view</button>
								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-sm-12">
								<div class="well">
									{{#unless ready}}
										{{> rectangleLoader}}
									{{/unless}}
									<div class="clearfix">
										{{#each searchResults}}
											<div class="grid-col-6">
												<div class="custom-list-wrapper" data-content-id="{{_id}}">
													{{> animeCard anime=this wrapLink=false cssStyle='cursor: pointer;'}}
												</div>
											</div>
										{{/each}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				<h3 class="sub-text">You can only edit your own lists</h3>
			{{/if}}



		</div>
	</div>
</template>
