<template name="animeCardClean">

	{{#with anime}}
		<div class="anime-card-container">
			{{#if ../isLinked}}
				<a href="{{pathFor 'anime'}}">
					{{> animeCardCleanCore anime=this cssStyle=../cssStyle}}
				</a>
			{{else}}
				{{> animeCardCleanCore anime=this cssStyle=../cssStyle}}
			{{/if}}

		</div>
	{{/with}}

</template>

<template name="animeCardCleanCore">
	{{#with anime}}
	<div class="anime-card img-lg" data-anime-id="{{_id}}" style="background-image: url('{{coverImageUrl}}'); {{../cssStyle}}">
		<div class="important">
			{{title}}
		</div>
		<div class="banner-gradient"></div>
	</div>
	{{/with}}
</template>
