<template name="customListsCreate">

	<div class="container main-content" style="max-width: 500px;">
		<div class="block">
			<h2>Create a custom list</h2>
			<h5 class="sub-text">Share a list of characters, people, and anime with others</h5>

			<hr>

			<div class="form-group">
				<h4>What kind of list are you making:</h4>
				<label class="radio-inline">
					<input type="radio" name="type" id="inlineRadio1" value="anime" checked>Anime
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" id="inlineRadio2" value="characters" disabled>Characters
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" id="inlineRadio3" value="people" disabled>People
				</label>
			</div>

			<div class="form-group">
				<h4>Name your list:</h4>
				<input type="text" class="form-control" id="listTitle">
			</div>

			<div class="form-group">
				<h4>Describe your list: <span class="sub-text">(recommended)</span></h4>
				<textarea id="listDescription" class="form-control"></textarea>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="listPrivacy"> Private
					</label>
				</div>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="listDisableComments"> Disable Comments
					</label>
				</div>
			</div>


			<button type="button" id="createCustomListBtn" class="btn btn-default btn-transparent btn-md">Create my list</button>

			<ul id="entries"></ul>
		</div>
	</div>

</template>