<template name="animeAddButton">

	<div id="animeAddButton">
	{{#if isExpanded}}
		<i class="fa fa-times animated fadeIn"></i>
	{{else}}
		{{#if libraryEntry.status}}
			<i class="fa fa-pencil"></i>
		{{else}}
			<i class="fa fa-plus"></i>
		{{/if}}
	{{/if}}
	</div>


	<div class="libraryCardWrapperAnime">
		{{#if isExpanded}}
			{{#if libraryEntry.status}}
				{{#with libraryEntry}}
					{{> libraryEntryCardEdit}}
				{{/with}}
			{{else}}
				{{> libraryEntryCardAdd}}
			{{/if}}
		{{/if}}
	</div>


</template>