<template name="customListEdit">

	<div class="container main-content">
		<div class="block">
			<h3>{{title}}</h3>
			<h5 class="sub-text">{{description}}</h5>

			<ul id="entries">
			{{#each entries}}
				<li>{{contentId}}</li>
			{{/each}}
			</ul>

			<div class="row">
				<div class="col-sm-6">
					<paper-input-decorator label="Search for {{type}}" style="width: 100%;" floatingLabel>
						<input is="core-input" id="search">
					</paper-input-decorator>
				</div>
			</div>

			{{#unless ready}}
				{{> rectangleLoader}}
			{{/unless}}

	
			<div class="row">
				<div class="col-sm-12">
					<div class="well">
						<div class="row">
							{{#each searchResults}}
								<div class="custom-list-wrapper" data-content-id="{{_id}}">
									{{> animeCard}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>

			<button type="button" class="btn btn-transparent btn-default btn-md">Add</button>



		</div>
	</div>
</template>