.anime-card-custom-list {
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #EDEDED;
	padding: 20px 0;

	.content-title {
		margin-right: 70px;
	}

	.sort-handle {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 25px;
		cursor: pointer;
		color: #ccc;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.13);
	}

	.remove-handle {
		position: absolute;
		top: 10px;
		right: 45px;
		font-size: 25px;
		cursor: pointer;
		color: #ccc;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.13);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: red;
		}
	}
}
