<template name="forgotPassword">
	<div class="container main-content" style="max-width: 500px">
		<div class="row">
			<div class="col-sm-12 block">
				<div class="form-group" style="margin-bottom: 40px;">
					<h3 class="centered-text">Forgot password</h3>
					<h5 class="sub-text centered-text">Don't panic, just provide your email!</h5>
				</div>

				<form role="form">
					<div class="form-group" style="margin-bottom: 30px;">
						<input id="identification" type="email" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default btn-lg btn-full-width">Continue</button>
					</div>
				</form>

			</div>

		</div>

	</div>

</template>