<template name="signIn">

	<div class="container main-content" style="max-width: 500px">

		<div class="row">

			<div class="col-sm-12 block">

				<div class="form-group">
					<h3 class="thin-text centered-text">Sign In</h3>
				</div>

				<form role="form">

					<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-account-circle prefix"></i>
							<input id="identification" type="text" class="validate">
							<label for="identification">Username or Email</label>
						</div>

						<div class="input-field col s12">
							<i class="mdi-communication-vpn-key prefix"></i>
							<input id="password" type="password" class="validate">
							<label for="password">Password</label>
						</div>

					</div>

					<div class="form-group">

						<button type="button" id="signInButton" class="btn btn-default btn-lg btn-full-width btn-transparent">Sign In</button>

					</div>

					<div class="form-group centered-text">
						Don't have an account? <a href="{{pathFor 'signUp'}}">Register</a>
					</div>
				</form>

			</div>

		</div>

	</div>


</template>