<template name="signIn">

	<div class="container main-content" style="max-width: 500px">

		<div class="row">

			<div class="col-sm-12 block">

				<div class="form-group">
					<h3 class="thin-text centered-text">Sign In</h3>
				</div>

				<form role="form">
					<div class="form-group">
						<input id="identification" type="text" class="form-control" placeholder="Username or email">
					</div>

					<div class="form-group">
						<input id="password" type="password" class="form-control" placeholder="Password">
					</div>

					<div class="form-group">
						Forgot your password?
					</div>


					<div class="form-group">

						<button type="submit" class="btn btn-default btn-lg btn-full-width">Sign In</button>

					</div>

					<div class="form-group centered-text">
						Don't have an account? <a href="{{pathFor 'signUp'}}">Register</a>
					</div>

				</form>

			</div>

		</div>

	</div>


</template>