<template name="signIn">

	<div class="container main-content" style="max-width: 500px">

		<div class="row">

			<div class="col-sm-12 block">

				<div class="form-group">
					<h3 class="thin-text centered-text">Sign In</h3>
				</div>

				<form role="form">
					<div class="form-group">
						<paper-input-decorator style="width: 100%;" label="Username or Email" floatingLabel>
							<input id="identification" is="core-input">
						</paper-input-decorator>
					</div>

					<div class="form-group">
						<paper-input-decorator style="width: 100%;" label="Password" floatingLabel>
							<input id="password" type="password" is="core-input">
						</paper-input-decorator>
					</div>

					<div class="form-group">
						<a href="{{pathFor 'forgotPassword'}}">Forgot your password?</a>
					</div>


					<div class="form-group">

						<button type="button" id="signInButton" class="btn btn-default btn-lg btn-full-width btn-transparent">Sign In</button>

					</div>

					<div class="form-group centered-text">
						Don't have an account? <a href="{{pathFor 'signUp'}}">Register</a>
					</div>
				</form>

			</div>

		</div>

	</div>


</template>