<template name="header">
	<header id="header" class="fixed">
		<div class="container-fluid">
			<ul class="left inline">
				<li><a href="{{pathFor 'index'}}">Home</a></li>
				<li><a href="{{pathFor 'animeExplore'}}">Anime</a></li>
				<li><a href="http://community.phanime.com">Community</a></li>
			</ul>
			<div class="logo center">
				<img src="https://s3.amazonaws.com/phanimedev/images/Phanime+Mascot+Quad.png" height="50px">
			</div>
			<ul class="right inline">
				{{#if currentUser}}
					{{#with currentUser}}
						<li>
							<a href="#" id="alertsToggle">
								<i class="fa {{alertsClass}}">
									<span class="counter">{{#if unreadAlertCount}}{{unreadAlertCount}}{{/if}}</span>
								</i>
							</a>
						</li>
						<li>
							<a href="{{pathFor 'user'}}">
								<div class="img img-xs avatar" style="background-image: url('{{currentUser.avatarImageUrl}}')"></div>
							</a>
						</li>
					{{/with}}
				{{/if}}

			</ul>
		</div>
	</header>
	<div style="margin-top: 60px"></div>
</template>
