<template name="header">
	<div class="navbar-fixed grey darken-2">
		<nav>
			<div class="nav-wrapper grey darken-2">
				<div class="container">
					<a href="{{pathFor 'index'}}" class="brand-logo left">phanime</a>

					<ul id="nav-mobile" class="right side-nav">
						<li><a href="{{pathFor 'animeExplore'}}">Anime</a></li>
						<li><a href="{{pathFor 'characters'}}">Characters</a></li>
						<li><a href="{{pathFor 'people'}}">People</a></li>
						<li><a href="http://community.phanime.com/">Community</a></li>
					</ul>

					<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
				</div>
			</div>
		</nav>
	</div>
</template>