<template name="libraryEntryCardAdd">

	<div class="libraryEntryForm">

		<div class="form-group">
			<button class="btn btn-default dropdown-toggle change-entry-status-btn" type="button" id="watchStatus" data-toggle="dropdown">
				Add to library
				<span class="caret"></span>
			</button>

			<ul class="dropdown-menu" style="left:auto; width: 180px; margin-top: -10px; top: 55px;" role="menu" aria-labelledby="watchStatus">
				{{#each watchStatuses}}
					<li><a class="status-item" style="cursor: pointer" data-status="{{this}}">{{this}}</a></li>
				{{/each}}
			</ul>
		</div>	

		<div class="thin-text centered" style="margin-top: 3px">
			<a href="{{pathFor 'anime'}}">Go to Anime <i class="fa fa-arrow-circle-right"></i></a>
		</div>

	</div>


</template>