<div class="row">
	<div class="col-sm-12">
		<div class="box box-teal">
			<div class="box-heading">Add Staff Member</div>
			<div class="box-body">
				<form role="form">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Person</label>
								{{input type="text" value=searchPersonText placeholder="Search for People" class="form-control"}}
							</div>

						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label>Anime</label>
								{{input type="text" value=searchAnimeText placeholder="Search for Anime" class="form-control"}}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Staff Position</label>
								{{input type="text" value=staff_position placeholder="Staff Position of person in anime" class="form-control"}}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-primary btn-beside" {{action 'add_staffMember'}}>Add Staff Member</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

