<template name="commentCard">

	<div class="comment-card animated flipInX">
		<div class="row">

			<div class="col-sm-12">

				
				{{#with user}}
				<a href="{{pathFor 'user'}}">
					<div class="img img-sm avatar" style="background-image: url('{{avatarImageUrl}}')"></div>
				</a>
				{{/with}}

				<div class="content">
					<span class="username">{{user.displayName}}</span> {{{urlifyText content}}}
					<div class="sub-list">
						<span class="sub-text">{{formatDateFromNow createdAt}}</span>
						{{#if isUserIdCurrentUser userId}}
							<span class="remove-handle">Remove</span>
						{{/if}}
					</div>
				</div>
			</div>

		</div>

	</div>

</template>