<template name="activityCard">

	{{#if activityType "libraryEntry"}}
		{{> activityCardLibraryEntry}}
	{{/if}}

	{{#if activityType "post"}}

		{{> activityCardPost}}

	{{/if}}


</template>


<template name="activityCardLibraryEntry">

	<div class="block">
		{{#with libraryEntry}}
			<div class="row">
				<div class="col-sm-12">
					{{#with anime}}
						<a href="{{pathFor 'anime'}}">
							<div class="img img-md cover" style="background-image: url('{{coverImageUrl}}')"></div>
						</a>
						<h4 style="margin-top:0">{{title}} </h4>
					{{/with}}
					<h4 class="thin-text">{{whatChanged}} {{newValue}}</h4> 
					<h6 class="thin-text">{{formatDateFromNow ../createdAt}}</h6>
				</div>
			</div>
		{{/with}}
	</div>	

</template>


<template name="activityCardPost">

	<div class="block">
		{{#with post}}
			<div class="row">
				<div class="col-sm-12">
					{{#with poster}}
						<a href="{{pathFor 'user'}}"><div class="img img-sm avatar" style="background-image: url('{{avatarImageUrl}}');"></div></a>
						<h4 style="margin:0">{{username}}</h4>
					{{/with}}
					<h6 class="thin-text" style="margin:0">{{formatDateFromNow ../createdAt}}</h6>
				</div>
			</div>
			<div class="description">
				{{content}}
			</div>
		{{/with}}

	</div>	


</template>