<template name="person">

	<div class="container main-content">

		<div class="row">
			<div class="col-sm-12 block">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-2">
						<div style="background-image: url('{{coverImageUrl}}')" class="anime-cover"></div>
						<h2 class="thin-text margin-text">Animeography</h2>
						{{#each anime}}
							<h5><a href="{{pathFor 'anime'}}">{{title}}</a></h5>
						{{else}}
							<h5 class="sub-text">No anime found.</h5>
						{{/each}}

						<h2 class="thin-text margin-text">Characters</h2>
						{{#each characters}}
							<h5><a href="{{pathFor 'character'}}">{{fullName}}</a></h5>
						{{else}}
							<h5 class="sub-text">No characters found.</h5>
						{{/each}}


					</div>
					<div class="col-sm-8 col-md-9 col-lg-10">
						<h1 style="margin-top:0">{{fullName}}</h1>
						<div class="description thin-text">{{otherInfo}}</div>
					</div>
				</div>

			</div>

		</div>
	</div>


</template>