<template name="header">
	<nav class="navbar navbar-default navbar-fixed-top navbar-phan" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>					
				<a href="{{pathFor 'index'}}" class="navbar-brand">phanime</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'index'}}">Home</a></li>
					<li><a href="{{pathFor 'animeExplore'}}">Anime</a></li>
					<li><a href="{{pathFor 'characters'}}">Characters</a></li>
					<li><a href="{{pathFor 'people'}}">People</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div style="margin-top: 50px"></div>
</template>