<template name="index">

	<div class="container main-content">
		<div class="row">
		{{#each this}}
			{{> UI.dynamic template="libraryEntryCard" data=this}}
		{{else}}
			<div class="block centered-text">
				<h2 class="thin-text sub-text">Plan to watch & Watching anime will appear here</h2>	
			
				<a style="margin-top: 30px; margin-bottom: 20px;" href="{{pathFor 'animeExplore'}}" class="btn btn-primary btn-lg btn-transparent">Add Library Entries</a>
			</div>	
		{{/each}}
		</div>
	</div>

</template>