<template name="index">

	<div class="container main-content">

		{{#if libraryEntries}}
			<h2 class="thin-text sub-text">Active Entries</h2>		
		{{/if}}

		<div class="row">
		{{#each libraryEntries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}
		{{else}}
			<div class="col-sm-12">
				<div class="block centered-text">
					<h2 class="thin-text sub-text">Plan to watch & Watching anime will appear here</h2>	
				
					<a style="margin-top: 30px; margin-bottom: 20px;" href="{{pathFor 'animeExplore'}}" class="btn btn-primary btn-lg btn-transparent">Add Library Entries</a>
				</div>
			</div>	
		{{/each}}
		</div>

		{{#if recommendedAnime}}
			<h2 class="thin-text sub-text">Recommendations</h2>
		{{/if}}

		<div class="row">
			{{#each recommendedAnime}}
				{{> UI.dynamic template="animeCard" data=this}}
			{{else}}
				<div class="col-sm-12">
					<div class="block centered-text">
						<h2 class="thin-text sub-text">We don't have any recommendations for you yet</h2>	
					
						<button id="requestRecommendation" style="margin-top: 30px; margin-bottom: 20px;" class="btn btn-primary btn-lg btn-transparent">Request Recommendations</button>
						<h6 class="sub-text">Add more library entries for better recommendations</h6>
					</div>
				</div>
			{{/each}}
		</div>

		{{#if recommendedAnime}}
			<div class="centered-text">
				<button id="requestRecommendation" style="margin-top: 30px; margin-bottom: 20px;" class="btn btn-primary btn-lg btn-transparent">Request Recommendations</button>
				<h6 class="sub-text">Add more library entries for better recommendations</h6>
			</div>
		{{/if}}
	</div>

</template>