<template name="login">

	<div class="container" style="max-width: 500px; margin-top: 200px;">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="identification" class="col-sm-3 control-label">Username/Email</label>
				<div class="col-sm-9">
					<input id="identification" type="text" class="form-control" placeholder="Enter Username/Email" value="">
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Password</label>
				<div class="col-sm-9">
					<input id="password" type="password" class="form-control" placeholder="Enter Password" value="">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Sign in</button>
				</div>
			</div>
		</form>

	</div>


</template>