<template name="search">

	<div class="container main-content">

		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				{{> esInput index="anime" reactive=false classes="form-control input-lg" placeholder="Search..."}}
			</div>
		</div>

		{{#ifEsIsSearching index="anime"}}
			<div class="row" style="margin: 50px auto;">
				{{> loading}}
			</div>
		{{else}}
			<div class="row" style="margin: 50px auto;">
				{{#esEach index="anime"}}
					{{> UI.dynamic template="animeCardProxy" data=this}}
				{{/esEach}}
			</div>
		{{/ifEsIsSearching}}

		{{#ifEsHasNoResults index="anime"}}
			<div class="row">
		  		<h2 class="thin-text" style="text-align: center;">No results found!</h2>
		  	</div>
		{{/ifEsHasNoResults}}
	</div>

</template>