<template name="search">

	<div class="container main-content search-wrapper">

		<div class="close-search">
			<i class="fa fa-times-circle close-search-handler"></i>
		</div>

		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<div class="search-input">
					{{> esInput index="anime" reactive=false classes="form-control input-lg" placeholder="Search..."}}
				</div>
			</div>
		</div>

		{{#ifEsIsSearching index="anime"}}
			<div class="row" style="margin: 50px auto;">
				{{> loading}}
			</div>
		{{else}}
			<div class="row search-results" style="margin: 50px auto;">
				{{#esEach index="anime"}}
					{{> UI.dynamic template="animeCardProxy" data=this}}
				{{/esEach}}
			</div>
		{{/ifEsIsSearching}}

		{{#ifEsHasNoResults index="anime"}}
			<div class="row">
				<h2 class="thin-text" style="text-align: center;">No results found!</h2>
		  	</div>
		{{/ifEsHasNoResults}}
	</div>

</template>