<template name="animeCard">
	<div class="anime-card-container">
		{{#unless currentUser}}
			<a href="{{pathFor 'anime'}}">
				<div class="anime-card img" data-src="{{coverImageUrl}}" data-anime-id="{{_id}}" style="background-image: url('{{coverImageUrl}}')">
					<div class="important">
						{{title}}
					</div>
					<div class="banner-gradient"></div>
				</div>
			</a>
		{{else}}
			<div class="anime-card img" data-src="{{coverImageUrl}}" data-anime-id="{{_id}}" style="background-image: url('{{coverImageUrl}}')">

				<div class="important">
					{{title}}
				</div>

				<div class="banner-gradient"></div>

				{{#if libraryEntry}}
					{{#with libraryEntry}}
						{{> libraryEntryCardEdit}}
					{{/with}}
				{{else}}
					{{> libraryEntryCardAdd}}
				{{/if}}
			</div>
		{{/unless}}

	</div>
</template>
