<template name="peopleAdd">
	<div class="container main-content">
		<h1>Add Person</h1>
		{{#autoForm schema="PeopleSchema" id="insertPerson" type="method" meteormethod="createPerson"}}
			<input type="file" id="uploadCharacterCover">
			<img class="imagePreview">

			{{> afQuickField name='coverImage' value=fileUrl}}
			{{> afQuickField name='firstName'}}
			{{> afQuickField name='lastName'}}
			{{> afQuickField name='givenName'}}
			{{> afQuickField name='familyName'}}
			{{> afQuickField name='gender' options="allowed"}}
			{{> afQuickField name='birthDate'}}
			{{> afQuickField name='website'}}
			{{> afQuickField name='birthPlace'}}
			{{> afQuickField name='bloodType' options="allowed"}}
			{{> afQuickField name='otherInfo'}}
			<div>
				<button type="submit" class="btn btn-primary btn-beside">Add Person</button>
				<button type="reset" class="btn btn-danger btn-beside">Reset</button>
			</div>
		{{/autoForm}}
	</div>
</template>