<template name="accountLayout">

	{{> header}}

	{{> globalNotice}}

	<div class="container main-content">

		<div class="row">
			<div class="col s12 m5 l2">
				<div class="collection">
					<a href="{{pathFor 'accountPersonalDetails'}}" class="collection-item">Personal Details</a>
					<a href="{{pathFor 'accountSecurity'}}" class="collection-item">Security</a>
					<a href="{{pathFor 'accountPreferences'}}" class="collection-item">Preferences</a>
					<a href="{{pathFor 'accountImports'}}" class="collection-item">Imports</a>
				</div>
			</div>

			<div class="col s12 m7 l10">
				{{> yield}}
			</div>
		</div>

	</div>

	{{> footer}}

	{{#if isSearchingGlobal}}
		{{> search}}
	{{/if}}

	{{> notifications}}	


</template>