<template name="revisionsQueueRow">
	<tr style="cursor: pointer" class="queueRow">
		<td>{{status}}</td>
		<td>{{contentType}}</td>
		<td>{{type}}</td>
		<td>{{username}}</td>
		<td>{{formatDateFromNow createdAt}}</td>
	</tr>

	{{#if isExpanded}}
	<tr>
		<td colspan="5">
			<div style="padding: 0 10px; max-height: 400px; overflow-y: auto; overflow-x: hidden">
				{{> revisionsAnimeUpdateForm currentAnime=content meteorMethod="revisionsAnimeUpdate" buttonText="Update Revision"}}
			</div>

			<hr>

			<div class="row">
				<div class="col-sm-12">

					{{#if reopenButton}}
						<button type="button" class="btn btn-info reopenRevision">Re-Open Revision</button>
					{{/if}}

					{{#if approveButton}}
						<button type="button" class="btn btn-primary approveRevision">Approve Revision</button>
					{{/if}}

					{{#if declineButton}}
						<button type="button" class="btn btn-danger declineRevision">Decline Revision</button>
					{{/if}}

				</div>
			</div>
		</td> 
	</tr>
	{{/if}}

</template>