<template name="revisionsQueue">


	<div class="container main-content">
		<div class="block">
			<div class="btn-group statusFilter">
				<button type="button" class="btn btn-default {{contentFilter 'All'}}">All</button>
				<button type="button" class="btn btn-default {{contentFilter 'Anime'}}">Anime</button>
				<button type="button" class="btn btn-default {{contentFilter 'People'}}">People</button>
				<button type="button" class="btn btn-default {{contentFilter 'Characters'}}">Characters</button>
			</div>
		</div>
	</div>

</template>