<template name="revisionsQueue">


	<div class="container main-content">
		<div class="block">
		
			<div class="btn-group contentFilter">
				<button type="button" class="btn btn-default {{contentFilter 'All'}}">All</button>
				<button type="button" class="btn btn-default {{contentFilter 'Anime'}}">Anime</button>
				<button type="button" class="btn btn-default {{contentFilter 'People'}}">People</button>
				<button type="button" class="btn btn-default {{contentFilter 'Characters'}}">Characters</button>
			</div>



			<table class="table table-striped">
				<thead>
					<tr>
						<td>Status</td>
						<td>Content Type</td>
						<td>Type</td>
						<td>Username</td>
						<td>Created at</td>
					</tr>
				</thead>


				<tbody>
					{{#each this}}
						{{> revisionsQueueRow}}
					{{/each}}
				</tbody>

			</table>


		</div>
	</div>





</template>