<template name="revisionsQueue">


	<div class="container main-content">
		<div class="block">
		
			<div class="btn-group contentFilter">
				<button type="button" class="btn btn-default {{contentFilter 'All'}}">All</button>
				<button type="button" class="btn btn-default {{contentFilter 'Anime'}}">Anime</button>
				<button type="button" class="btn btn-default {{contentFilter 'People'}}">People</button>
				<button type="button" class="btn btn-default {{contentFilter 'Characters'}}">Characters</button>
			</div>



			<table class="table">
				<thead>
					<tr>
						<td>Content Type</td>
						<td>User</td>
					</tr>
				</thead>


				<tbody>


				</tbody>

			</table>


		</div>
	</div>





</template>