<template name="userLibrary">

	<div class="container main-content">
		{{#each libraryEntries}}
			<div class="col-sm-3">

				<div data-toggle="popover" class="libraryEntryCard img-lg" style="background-image: url('{{anime.coverImageUrl}}')">
					
					<div class="important">
						{{anime.title}}
					</div>

					<div class="banner-gradient"></div>
					
					<div class="progress" style="width: {{getPercentage anime.totalEpisodes episodesSeen}}"></div>

					<div class="libraryEntryForm">						
						<div class="row">
							<div class="col-sm-12">
								SUP
								<button class="btn btn-default dropdown-toggle add-library-button" type="button" id="watchStatus" data-toggle="dropdown">
									{{status}}
									<span class="caret"></span>
								</button>

								<ul class="dropdown-menu" role="menu" aria-labelledby="watchStatus">
									{{#each watchStatuses}}
										<li><a class="status-item" data-status={{this}}>{{this}}</a></li>
									{{/each}}
								</ul>							
							</div>

						</div>

					</div>
				</div>

			</div>		
		{{/each}}
	</div>

</template>