<template name="userSummary">

{{#if this}}
	<div class="fancy-heading" style="background-image: url('{{profileBannerImageUrl}}')">
		<div class="container">
			<div class="user-important">

				{{#if isUserIdCurrentUser _id}}
					<a href="{{pathFor 'accountPersonalDetails'}}">
						<div class="user-avatar" style="background-image: url('{{avatarImageUrl}}')"></div>
					</a>
				{{else}}
					<div class="user-avatar" style="background-image: url('{{avatarImageUrl}}')"></div>
				{{/if}}

				<div class="user-summary">
					<h1 class="username">{{displayName}}</h1>
					{{#if isUserIdCurrentUser _id}}
						{{#if isEditing}}
							<button id="saveProfile" type="button" class="btn transparent white">Save</button>
						{{else}}
							<button id="editProfile" type="button" class="btn transparent white">Edit</button>
						{{/if}}
					{{else}}
						{{#if currentUser}}
							{{> userFollowButton
								user=this
								followClasses="btn transparent white"
								followingClasses="btn transparent white"
							}}
						{{/if}}
					{{/if}}
					{{#if isEditing}}
					    <input id="profileAboutInput" placeholder="Tell us about yourself" class="form-control" value="{{profile.about}}">
						<div class="row">
							<div class="col-sm-6">
								<i style="margin-right: 10px" class="fa fa-map-marker"></i>
							    <input id="profileLocationInput" placeholder="Location" class="form-control" value="{{profile.location}}">
							</div>

							<div class="col-sm-6">
								<i class="fa fa-globe"></i>
							    <input id="profileWebsiteInput" placeholder="Website" class="form-control" value="{{profile.website}}">
							</div>
						</div>
					{{else}}
						<h3 style="margin-top: 2px;">
						{{#if profile.about}}<p class="description">{{profile.about}}</p>{{/if}}
						{{#if profile.location}}
							<i data-toggle="tooltip" data-placement="bottom" title="{{profile.location}}" style="margin-right: 10px" class="tooltipped fa fa-map-marker"></i>
						{{/if}}

						{{#if profile.website}}
							<a href="{{profile.website}}">
								<i data-toggle="tooltip" data-placement="bottom" title="{{profile.website}}" class="tooltipped fa fa-globe"></i>
							</a>
						{{/if}}

							<div style="display: inline; margin-left: 10px">
								<span data-toggle="tooltip" data-placement="bottom" title="Revisions Approved" class="tooltipped" style="color: #83BD40">
									{{#if revisionApprovedCount}}
										{{revisionApprovedCount}}
									{{else}}
										0
									{{/if}}
								</span>
								/
								<span data-toggle="tooltip" data-placement="bottom" title="Revisions Declined" class="tooltipped" style="color: #FF9595">
									{{#if revisionDeclinedCount}}
										{{revisionDeclinedCount}}
									{{else}}
										0
									{{/if}}
								</span>
							</div>

						</h3>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="banner-gradient"></div>
	</div>

	<nav class="navbar navbar-default profile-nav-container" role="navigation">
		<div class="container">
				<ul class="inline-list">
					<li class="{{activeRoute 'user'}}"><a href="{{pathFor 'user'}}">Summary</a></li>
					<li class="{{activeRoute 'userActivity'}}"><a href="{{pathFor 'userActivity'}}">Activity</a></li>
					<li class="{{activeRoute 'userLibrary'}}"><a href="{{pathFor 'userLibrary'}}">Library</a></li>
					<li class="{{activeRoute 'userFollowers'}}"><a href="{{pathFor 'userFollowers'}}">Followers ({{followerCount}})</a></li>
					<li class="{{activeRoute 'userFollowing'}}"><a href="{{pathFor 'userFollowing'}}">Following ({{followingCount}})</a></li>
					<li class="{{activeRoute 'userCustomLists'}}"><a href="{{pathFor 'userCustomLists'}}">Custom lists</a></li>
				</ul>
		</div>
	</nav>

{{/if}}
</template>
