<template name="userSummary">

{{#if this}}
	<div class="fancy-heading" style="background-image: url('{{profileBannerImageUrl}}')">
		<div class="container">
			<div class="user-important">
			
				{{#if isUserIdCurrentUser _id}}
					<a href="{{pathFor 'accountPersonalDetails'}}">
						<div class="user-avatar" style="background-image: url('{{avatarImageUrl}}')"></div>
					</a>
				{{else}}
					<div class="user-avatar" style="background-image: url('{{avatarImageUrl}}')"></div>
				{{/if}}

				<h1 class="username">{{displayName}}</h1>

				{{#unless isUserIdCurrentUser _id}}

					{{#if currentUser}}
						{{#if isCurrentUserAFollower followers}}
							<button style="margin-left:210px" id="unfollow" type="button" class="btn btn-default follow-button unfollow">Unfollow</button>
						{{else}}
							<button style="margin-left:210px" id="follow" type="button" class="btn btn-default follow-button follow">Follow</button>
						{{/if}}
					{{/if}}

				{{/unless}}
			</div>
		</div>
		<div class="banner-gradient"></div>
	</div>

	<nav class="navbar navbar-default profile-nav-container" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#profile-nav-collapse">
					<i class="fa fa-tasks"></i>
				</button>
			</div>

			<div class="collapse navbar-collapse profile-nav" id="profile-nav-collapse">
				<ul class="nav navbar-nav">
					<li class="{{activeRoute 'user'}}"><a href="{{pathFor 'user'}}">Summary</a></li>
					<li class="{{activeRoute 'userActivity'}}"><a href="{{pathFor 'userActivity'}}">Activity</a></li>
					<li class="{{activeRoute 'userLibrary'}}"><a href="{{pathFor 'userLibrary'}}">Library</a></li>
					<li class="{{activeRoute 'userFollowers'}}"><a href="{{pathFor 'userFollowers'}}">Followers ({{followerCount}})</a></li>
					<li class="{{activeRoute 'userFollowing'}}"><a href="{{pathFor 'userFollowing'}}">Following ({{followingCount}})</a></li>
					<li class="{{activeRoute 'userRevisions'}}"><a href="{{pathFor 'userRevisions'}}">Revisions</a></li>
				</ul>				
			</div>
		</div>
	</nav>

{{/if}}
</template>