<template name="userLibrary">

	<div class="container main-content">

		<h1 class="thin-text">Recently Added</h1>

		<div class="row">
			{{#each recentlyAdded.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}		
			{{/each}}
		</div>


		<div class="row">
			<div class="col-sm-12">
				{{statusFilter}}
				<div class="btn-group statusFilter">
					<button type="button" class="btn btn-default {{activeStatusFilter 'Watching'}}">Watching</button>
					<button type="button" class="btn btn-default {{activeStatusFilter 'Completed'}}">Completed</button>
					<button type="button" class="btn btn-default {{activeStatusFilter 'Plan to watch'}}">Plan to watch</button>
					<button type="button" class="btn btn-default {{activeStatusFilter 'On hold'}}">On hold</button>
					<button type="button" class="btn btn-default {{activeStatusFilter 'Dropped'}}">Dropped</button>
				</div>

			</div>

		</div>

		{{#if statusFilterCheck 'Watching'}}
			<h1 class="thin-text">Watching ({{watching.count}})</h1>

			<div class="row">
				{{#each watching.entries}}
					{{> UI.dynamic template="libraryEntryCard" data=this}}
				{{else}}
					<div class="col-sm-12">
						<h3 class="thin-text">{{../username}} is not watching any anime</h3>
					</div>
				{{/each}}
			</div>
		{{/if}}

		{{#if statusFilterCheck 'Completed'}}
		<h1 class="thin-text">Completed ({{completed.count}})</h1>

		<div class="row">
			{{#each completed.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}
			{{else}}
				<div class="col-sm-12">
					<h3 class="thin-text">{{../username}} hasn't completed any anime</h3>
				</div>
			{{/each}}
		</div>
		{{/if}}

		{{#if statusFilterCheck 'Plan to watch'}}
		<h1 class="thin-text">Plan to watch ({{planToWatch.count}})</h1>

		<div class="row">
			{{#each planToWatch.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}
			{{else}}
				<div class="col-sm-12">
					<h3 class="thin-text">{{../username}} has no plans to watch any anime</h3>
				</div>
			{{/each}}
		</div>
		{{/if}}


		{{#if statusFilterCheck 'On hold'}}
		<h1 class="thin-text">On hold ({{onHold.count}})</h1>

		<div class="row">
			{{#each onHold.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}
			{{else}}
				<div class="col-sm-12">
					<h3 class="thin-text">{{../username}} hasn't put any anime on hold</h3>
				</div>
			{{/each}}
		</div>
		{{/if}}

		{{#if statusFilterCheck 'Dropped'}}
		<h1 class="thin-text">Dropped ({{dropped.count}})</h1>

		<div class="row">
			{{#each dropped.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}
			{{else}}
				<div class="col-sm-12">
					<h3 class="thin-text">{{../username}} hasn't dropped any anime</h3>
				</div>
			{{/each}}
		</div>
		{{/if}}

	</div>

</template>