<template name="user">
	<div class="container main-content">

		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">

				{{#if topGenresChartObject}}
					<div class="block">
						{{> highchartsHelper chartId="test" width="100%" height="100%" chartObject=topGenresChartObject}}
					</div>
				{{/if}}

			</div>

			<div class="col-sm-12 col-md-6 col-lg-6">

				{{#if currentUser}}
					{{> createProfilePost}}
				{{/if}}
				
				{{#momentum plugin='growl'}}
					{{#each profilePosts}}
						{{> profilePostCard}}
					{{else}}
						<h3 class="thin-text">There are no messages on {{username}}'s profile yet.</h3>
					{{/each}}
				{{/momentum}}
			</div>
		</div>


	</div>

</template>