<template name="userSummary">

{{#if this}}
	<div class="fancy-heading" style="background-image: url('{{profileBannerImageUrl}}')">
		<div class="container">
			<div class="user-important">
			
				{{#if isUserIdCurrentUser _id}}
					<a href="{{pathFor 'accountPersonalDetails'}}">
						<div class="user-avatar" style="background-image: url('{{avatarImageUrl}}')"></div>
					</a>
				{{else}}
					<div class="user-avatar" style="background-image: url('{{avatarImageUrl}}')"></div>
				{{/if}}

				<h1 class="username">{{username}}</h1>

				{{#unless isUserIdCurrentUser _id}}

					{{#if isCurrentUserAFollower followers}}
						<button style="margin-left:210px" id="unfollow" type="button" class="btn btn-default follow-button unfollow">Unfollow</button>
					{{else}}
						<button style="margin-left:210px" id="follow" type="button" class="btn btn-default follow-button follow">Follow</button>
					{{/if}}

				{{/unless}}
			</div>
		</div>
		<div class="banner-gradient"></div>
	</div>
{{/if}}
</template>