<template name="userLibrary">

	<div class="container main-content">

		<h1 class="thin-text sub-text">Recently Added</h1>

		<div class="row">
			{{#each recentlyAdded.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}		
			{{/each}}
		</div>

		<hr class="background-hr">


		<h1 class="thin-text sub-text">Watching</h1>

		<div class="row">
			{{#each watching.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}
			{{else}}
				<div class="col-sm-12">No anime found.</div>		
			{{/each}}
		</div>


		<hr class="background-hr">


		<h1 class="thin-text sub-text">Completed</h1>

		<div class="row">
			{{#each completed.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}	
			{{else}}
				<div class="col-sm-12">No anime completed.</div>
			{{/each}}
		</div>

		<hr class="background-hr">

		<h1 class="thin-text sub-text">Plan to Watch</h1>

		<div class="row">
			{{#each planToWatch.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}		
			{{else}}
				<div class="col-sm-12">No anime found.</div>
			{{/each}}
		</div>

		<hr class="background-hr">

		<h1 class="thin-text sub-text">On hold</h1>

		<div class="row">
			{{#each onHold.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}	
			{{else}}
				<div class="col-sm-12">No anime on hold.</div>
			{{/each}}
		</div>

		<hr class="background-hr">

		<h1 class="thin-text sub-text">Dropped</h1>

		<div class="row">
			{{#each dropped.entries}}
				{{> UI.dynamic template="libraryEntryCard" data=this}}
			{{else}}
				<div class="col-sm-12">No anime dropped.</div>		
			{{/each}}
		</div>
	</div>

</template>