<template name="dashboard">

	<div class="container main-content">

		<section>
			{{> homePageActiveEntries}}
		</section>

		<section>
			<article class="half-width">
				{{> homePageUserFeed}}
			</article>

			<article class="half-width">
				{{> homePageSchedule}}
			</article>
		</section>

		<section>
			{{> homePageRecommendedAnime}}
		</section>


		<img class="b-lazy img avatar img-xl" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="http://cdn.phanime.com/images/anime/cover/hack-Legend-of-the-Twilight-Bracelet.jpg">

		{{> loading}}


	</div>

</template>
