<template name="person">

	<div class="container main-content">

		<div class="row">
			<div class="col-sm-12 block">
				<div class="row">
					<div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
						<div style="background-image: url('{{coverImageUrl}}')" class="anime-cover"></div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
						<h1 style="margin-top:0">{{fullName}}</h1>
						<div class="description thin-text">{{otherInfo}}</div>
					</div>
				</div>

			</div>

		</div>
	</div>


</template>