<template name="revisionsQueueRow">
	<tr style="cursor: pointer" class="queueRow">
		<td>
			{{#if revisionUpdateFormType 'Anime' 'Revision'}}
				{{#with contentDoc}}<a href="{{pathFor 'anime'}}">{{canonicalTitle}}</a>{{/with}}
			{{/if}}

			{{#if revisionUpdateFormType 'Anime' 'Addition'}}
				{{content.canonicalTitle}}
			{{/if}}

		</td>
		<td>{{contentType}}</td>
		<td>{{type}}</td>
		<td>{{username}}</td>
		<td>{{formatDateFromNow createdAt}}</td>
	</tr>

	{{#if isExpanded}}
	<tr>
		<td colspan="5">
			<div style="padding: 0 10px; max-height: 500px; overflow-y: auto; overflow-x: hidden">
				<div class="row">
					{{#if revisionUpdateFormType 'Anime' 'Revision'}}
						<div class="col-sm-12 col-md-6">
							<h3 class="sub-text">Proposed Revision</h3>
							{{#each arrayifyObject content}}
								{{#unless value}}
									<li>{{name}} is being removed</li>
								{{/unless}}
							{{/each}}
							{{> revisionAnimeUpdateEdit currentAnime=content meteorMethod="revisionAnimeUpdateEdit" buttonText="Update Revision" formId="revisionAnimeUpdateEdit"}}							
						</div>

						<div class="col-sm-12 col-md-6">
							<h3 class="sub-text">Current Values</h3>
							{{> animeReadOnly currentAnime=contentDoc}}
						</div>

					{{/if}}

					{{#if revisionUpdateFormType 'Anime' 'Addition'}}
						<div class="col-sm-12">
							{{> revisionsAnimeUpdateForm currentAnime=content meteorMethod="revisionsAnimeUpdate" buttonText="Update Revision" formId="updateRevisionsAnime"}}
						</div>
					{{/if}}

				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-sm-12">

					{{#if reopenButton}}
						<button type="button" class="btn btn-info reopenRevision">Re-Open Revision</button>
					{{/if}}

					{{#if approveButton}}
						<button type="button" class="btn btn-primary approveRevision">Approve Revision</button>
					{{/if}}

					{{#if declineButton}}
						<button type="button" class="btn btn-danger declineRevision">Decline Revision</button>
					{{/if}}

				</div>
			</div>
		</td> 
	</tr>
	{{/if}}

</template>