<template name="revisionsQueue">


	<div class="container main-content">
		<div class="block">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-12">
					<div class="btn-group contentFilter">
						<button type="button" class="btn btn-default {{currentContentFilter 'All'}}">All</button>
						<button type="button" class="btn btn-default {{currentContentFilter 'Anime'}}">Anime</button>
						<button type="button" class="btn btn-default {{currentContentFilter 'People'}}">People</button>
						<button type="button" class="btn btn-default {{currentContentFilter 'Characters'}}">Characters</button>
					</div>


					<div class="btn-group btn-beside statusFilter">
						<button type="button" class="btn btn-info {{currentStatusFilter 'Open'}}">Open</button>
						<button type="button" class="btn btn-primary {{currentStatusFilter 'Approved'}}">Approved</button>
						<button type="button" class="btn btn-danger {{currentStatusFilter 'Declined'}}">Declined</button>
					</div>
				</div>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<td>Status</td>
						<td>Content Type</td>
						<td>Type</td>
						<td>Username</td>
						<td>Created At</td>
					</tr>
				</thead>


				<tbody>
					{{#each revisions}}
						{{> revisionsQueueRow}}
					{{else}}
					<tr>
						<td colspan="5">
							<h3 class="sub-text centered-text">No revisions found with the currently selected filters</h3>
						</td>
					</tr>
					{{/each}}
				</tbody>

			</table>


			{{#unless isReady}}
				{{> rectangleLoader}}
			{{/unless}}

			{{#if isReady}}
				{{#if hasMoreRevisions}}
					<button id="loadMore" type="button" class="btn btn-primary btn-lg btn-full-width"><h4>Load More</h4></button>
				{{/if}}
			{{/if}}

		</div>

		<div class="block">
			{{> serverFacts}}
		</div>
	</div>
</template>
