<template name="addLibraryEntry">
	<div class="btn-group dropup">

		<button class="btn btn-default dropdown-toggle add-library-button" type="button" id="watchStatus" data-toggle="dropdown">
			{{#if libraryEntry.status}}
				{{libraryEntry.status}}
			{{else}}
				Add to library
			{{/if}}
			<span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu" aria-labelledby="watchStatus">
			{{#each watchStatuses}}
				<li><a class="status-item" data-status={{this}}>{{this}}</a></li>
			{{/each}}
		</ul>
	</div>
</template>
