<template name="animeCard">
	<a href="{{pathFor 'anime'}}">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">

			<div class="anime-card img-lg" style="background-image: url('{{coverImageUrl}}')">
				
				<div class="important">
					{{title}}
				</div>

				<div class="banner-gradient"></div>
			</div>
		</div>
	</a>
</template>


<template name="animeCardProxy">
	<a href="{{pathFor 'anime'}}">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">

			<div class="anime-card img-lg" style="background-image: url('http://cdn.phanime.com/images/anime/cover/{{coverImage}}')">
				
				<div class="important">
					{{canonicalTitle}}
				</div>

				<div class="banner-gradient"></div>
			</div>
		</div>
	</a>
</template>