<template name="anime">

<div class="container main-content">
	<div class="row">
		<div class="col-sm-12 block">
			<div class="row">
				<div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
					<div style="background-image: url('{{coverImageUrl}}')" class="anime-cover"></div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
					<h1 style="margin-top:0">{{title}}</h1>

					<ul class="anime-info">
						<li>{{type}}</li> 
						<li>{{episodeDuration}} mins.</li>
						<li>{{ageRating}}</li>
						<li>{{totalEpisodes}} episodes</li>
						<li>Airing from {{formatDateDefault startDate}} to {{#if endDate}}{{formatDateDefault endDate}}{{else}} - {{/if}}</li>
					</ul>

					<div class="description thin-text">{{description}}</div>
					<div class="genreList">
						{{#if currentUser}}
							{{> addLibraryEntry}}
						{{/if}}
					</div>
				</div>
			</div>

		</div>

	</div>


	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="col-sm-12 block green">
				<h2 class="thin-text">Rating Overview</h2>

				{{#if rating}}
					<div class="row">
						<div class="col-xs-4 col-lg-4">
							{{rating}}
						</div>
						<div class="col-xs-8 col-lg-8">
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[10] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[9] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[8] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[7] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[6] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[5] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[4] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[3] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[2] totalRatings}}"></div>
							<div class="rating-bar" style="width: {{getPercentage ratingCounts.[1] totalRatings}}"></div>
						</div>
					</div>
				{{else}}
					No rating available
				{{/if}}
			</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="block green">
				<h2 class="thin-text">Casting</h2>
				{{#if castings}}
					{{#each castings}}
						<div class="row" style="padding: 5px 0; border-bottom: 1px solid #EBEBEB;">
							<div class="col-sm-6">
								{{#with character}}
								<a href="{{pathFor 'character'}}">{{fullName}}</a>: {{../role}}
								{{/with}}
							</div>

							<div class="col-sm-6">
								{{#with person}}
								<a href="{{pathFor 'person'}}"> {{fullName}}</a>: {{../language}}
								{{/with}}
							</div>
						</div>
					{{/each}}
				{{else}}
					No castings found for this anime.
				{{/if}}
			</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="col-sm-12 block green">
				<h2 class="thin-text">Staff Members</h2>
				{{#if staffMembers}}
					{{#each staffMembers}}
						<div class="row" style="padding: 5px 0; border-bottom: 1px solid #EBEBEB;">
							<div class="col-sm-6">
								<a href="{{pathFor 'character' character}}">{{person.fullName}}</a>
							</div>

							<div class="col-sm-6">
								{{staffPosition}}
							</div>
						</div>
					{{/each}}
				{{else}}
					No staff members found for this anime.
				{{/if}}
			</div>
		</div>


	</div>


	<div class="row">

		<div class="col-sm-5 col-md-4">
			
				<div class="block">
					Review 1
				</div>

				<div class="block">
					Review 2
				</div>
			
		</div>

		<div class="col-sm-7 col-md-8">
			
			<div class="block green">
				<h2 class="thin-text">Episodes</h2>

				{{#if episodes}}
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<td>#</td>
								<td>Episode Title</td>
								<td>Air Date</td>
							</tr>
						</thead>

						<tbody>
							{{#each episodes}}
								<tr class="thin-text">
									<td>{{episodeNumber}}</td>
									<td>{{#if episodeTitle}} {{episodeTitle}} {{else}} -- {{/if}}</td>
									<td>{{#if airDate}} {{formatDateDefault airDate}} {{else}} -- {{/if}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				{{else}}
					No episodes found for this anime
				{{/if}}				
			</div>
			
		</div>


	</div>

</div>



<div class="fancy-heading">
	<div class="container">
		<div class="anime-important">
			<div class="genreList">
				{{#each genres}}
					<a>{{this}}</a>
				{{/each}}

				{{#if currentUser}}
					{{> addLibraryEntry}}
				{{/if}}
			</div>
		</div>
	</div>
	<div class="banner-gradient"></div>
</div>



</template>