<template name="anime">

<div class="fancy-heading">
	<div class="container">
		<div class="anime-important">
			<h1>{{canonicalTitle}}</h1>
			<div class="genreList">
				{{#each genres}}
					<a>{{this}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="banner-gradient"></div>
</div>

<div class="container">
	<div class="row main-content">
		<div class="col-md-3">
			<img style="width: 100%" src="{{coverImageUrl}}" class="cover-image anime">
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-sm-10" style="padding:0">
					<ul class="anime-info">
						<li>{{type}}</li> 
						<li>{{episodeDuration}} mins.</li>
						<li>{{ageRating}}</li>
						<li>{{totalEpisodes}} episodes</li>
						<li>Airing from {{startDate}} to {{#if endDate}}{{endDate}}{{else}} - {{/if}}</li>
					</ul>
				</div>

				<div class="col-sm-2">
					<button class="btn btn-success btn-sm btn-beside">+</button>
					<button class="btn btn-primary btn-sm btn-beside">Edit</button>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-12">
					<div class="description thin-text">{{description}}</div>
				</div>
			</div>

			<h3 class="thin-text">Episodes</h3>

			{{#if episodes}}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>#</td>
							<td>Episode Title</td>
							<td>Air Date</td>
						</tr>
					</thead>

					<tbody>
						{{#each episodes}}
							<tr class="thin-text">
								<td>{{episodeNumber}}</td>
								<td>{{#if episodeTitle}} {{episodeTitle}} {{else}} -- {{/if}}</td>
								<td>{{#if airDate}} {{airDate}} {{else}} -- {{/if}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{else}}
				No episodes found for this anime
			{{/if}}


			<h3 class="thin-text">Casting</h3>
			{{#if castings}}
				{{#each castings}}
					<div>{{language}}:{{role}}</div>
				{{/each}}

			{{else}}
				No castings found for this anime.
			{{/if}}

			<h3 class="thin-text">Staff Members</h3>
			{{#if staffMembers}}

			{{else}}
				No staff members found for this anime.
			{{/if}}


		</div>
	</div>
</div>



</template>