<template name="reviewAdd">
	<h2 class="thin-text">Reviewing as {{currentUser.displayName}}</h2>

	<form role="form">
		<div class="row">

			<div class="col-lg-9">

				<div class="form-group">
					<label>Review</label>
					<textarea class="form-control" id="reviewContent" rows="10" placeholder="Please properly indicate any spoilers in your review"></textarea>
				</div>

				<div class="form-group">
					<label>Summary</label>
					<textarea class="form-control" id="reviewSummary" maxlength="140" rows="2" placeholder="Summarize this review in as little characters as possible. Maximum of 140"></textarea>
				</div>

			</div>


			<div class="col-lg-3">

				<div class="form-group">
					<label>Story</label>
					<div class="rating" id="storyRating"></div>
				</div>

				<div class="form-group">
					<label>Animation</label>
					<div class="rating" id="animationRating"></div>
				</div>

				<div class="form-group">
					<label>Character</label>
					<div class="rating" id="characterRating"></div>
				</div>

				<div class="form-group">
					<label>Sound</label>
					<div class="rating" id="soundRating"></div>
				</div>			

				<div class="form-group">
					<label>Enjoyment</label>
					<div class="rating" id="enjoymentRating"></div>
				</div>

				<div class="form-group">
					<label>Overall</label>
					<div class="rating" id="overallRating"></div>
				</div>		

			</div>

		</div>

		<div class="row">

			<div class="col-lg-9">
				<button type="submit" id="reviewAddBtn" class="btn btn-primary btn-beside">Publish Review</button>
				<button type="button" class="btn btn-default btn-beside modal-close">Close</button>
			</div>
		</div>

	</form>

</template>