<template name="userCard">
	<article class="block user-card">

		<div class="banner" style="background-image: url('{{profileBannerImageUrl}}')">
			<div class="banner-gradient"></div>
		</div>

		<a href="{{pathFor 'user'}}">
			<div class="img img-lg avatar bordered animated bounceIn" style="background-image: url('{{avatarImageUrl}}')"></div>
		</a>

		<section class="content">
			<h3 class="centered-text thin-text">{{displayName}}</h3>
			{{#unless isUserIdCurrentUser _id}}
				{{> userFollowButton
					user=this
					followClasses="btn secondary full-width"
					followingClasses="btn primary full-width"
				}}
			{{/unless}}
		</section>

	</article>
</template>
