<template name="userCard">
	<article class="block user-card">

		<div class="banner" style="background-image: url('{{profileBannerImageUrl}}')">
			<div class="banner-gradient"></div>
		</div>

		<a href="{{pathFor 'user'}}">
			<div class="img img-lg avatar bordered" style="background-image: url('{{avatarImageUrl}}')"></div>
		</a>

		<section class="content">
			<h3 class="centered-text thin-text">{{displayName}}</h3>
			{{#if isCurrentUserAFollower followers}}
				<button id="unfollow" type="button" class="btn primary full-width">Following</button>
			{{else}}
				<button id="follow" type="button" class="btn secondary full-width">Follow</button>
			{{/if}}
		</section>

	</article>
</template>
