<template name="castingsAdd">
	<div class="container main-content">
		<h1>Add Casting</h1>
		{{#autoForm schema="CastingsSchema" id="insertCasting" type="method" meteormethod="createCasting"}}
			<fieldset>
			<div class="row">
				<div class="col-sm-4">
					{{> afQuickField name='animeId' options=animeAll}}
				</div>

				<div class="col-sm-4">
					{{> afQuickField name='personId' options=peopleAll}}
				</div>

				<div class="col-sm-4">
					{{> afQuickField name='characterId' options=charactersAll}}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					{{> afQuickField name='role' options="allowed"}}
				</div>

				<div class="col-sm-6">
					{{> afQuickField name='language' options="allowed"}}
				</div>
			</div>

			<div>
				<button type="submit" class="btn btn-primary btn-beside">Add Casting</button>
				<button type="reset" class="btn btn-danger btn-beside">Reset</button>
			</div>
			</fieldset>
		{{/autoForm}}
	</div>
</template>
